In [1]:
#import dependencies
import pymongo
import csv
import json
from pymongo import MongoClient
import pandas as pd
import numpy as np
import datetime as dt

# clean DF

In [2]:
#load csv
cleaned_terror_df = pd.read_csv("terror.csv")
cleaned_terror_df.head()

,DATE,COUNTRY,STATE,CITY,SUBREGION,REGION,PERPETRATOR,INJURED,DEAD,DESCRIPTION,COORDINATES,CATEGORY
0,2022-07-16,Indonesia,Papua,NaN,South-Eastern Asia,Asia,West Papua National Liberation Army,2.0,10.0,Around 20 gunmen attacked the village of Nogol...,"-4.318185048526521, 138.18016262274278",Assault
1,2022-06-28,India,Rajasthan,Udaipur,Southern Asia,Asia,Islamists,NaN,1.0,A Hindu tailor was murdered by two Muslim assa...,"24.612639887486125, 73.69126308833513",Assault
2,2022-06-25,Norway,NaN,Oslo,Northern Europe,Europe,NaN,10.0,2.0,"Two people were killed and 21 injured, 10 of t...","59.913751261491804, 10.75215147566024",Assault
3,2022-06-18,Mali,NaN,NaN,Western Africa,Africa,Macina Liberation Front,NaN,132.0,Unidentified gunmen killed 132 civilians in Di...,"16.3700359,-2.2900239",Assault
4,2022-05-05,Israel,NaN,NaN,Western Asia,Asia,As'ad Alrafa'ani and Sabhi Shajir,4.0,3.0,"In Central Israel, two Palestinian men attacke...","31.5313113,34.8667654",Assault

In [3]:
cleaned_terror_df.dtypes

DATE            object
COUNTRY         object
STATE           object
CITY            object
SUBREGION       object
REGION          object
PERPETRATOR     object
INJURED        float64
DEAD           float64
DESCRIPTION     object
COORDINATES     object
CATEGORY        object
dtype: object

In [4]:
#find null values (18.2.4)
for column in cleaned_terror_df.columns:
    print(f'column {column} has {cleaned_terror_df[column].isnull().sum()} null values')

column DATE has 0 null values
column COUNTRY has 0 null values
column STATE has 11755 null values
column CITY has 14031 null values
column SUBREGION has 5995 null values
column REGION has 6000 null values
column PERPETRATOR has 17022 null values
column INJURED has 6 null values
column DEAD has 1 null values
column DESCRIPTION has 0 null values
column COORDINATES has 8 null values
column CATEGORY has 5596 null values

In [5]:
#drop city and state column due to amount of null values
df = cleaned_terror_df.drop(["STATE", "CITY"], axis = 1)
df.head()

,DATE,COUNTRY,SUBREGION,REGION,PERPETRATOR,INJURED,DEAD,DESCRIPTION,COORDINATES,CATEGORY
0,2022-07-16,Indonesia,South-Eastern Asia,Asia,West Papua National Liberation Army,2.0,10.0,Around 20 gunmen attacked the village of Nogol...,"-4.318185048526521, 138.18016262274278",Assault
1,2022-06-28,India,Southern Asia,Asia,Islamists,NaN,1.0,A Hindu tailor was murdered by two Muslim assa...,"24.612639887486125, 73.69126308833513",Assault
2,2022-06-25,Norway,Northern Europe,Europe,NaN,10.0,2.0,"Two people were killed and 21 injured, 10 of t...","59.913751261491804, 10.75215147566024",Assault
3,2022-06-18,Mali,Western Africa,Africa,Macina Liberation Front,NaN,132.0,Unidentified gunmen killed 132 civilians in Di...,"16.3700359,-2.2900239",Assault
4,2022-05-05,Israel,Western Asia,Asia,As'ad Alrafa'ani and Sabhi Shajir,4.0,3.0,"In Central Israel, two Palestinian men attacke...","31.5313113,34.8667654",Assault

In [6]:
#determine number of rows
df["COUNTRY"].count().sum()

27159

In [7]:
#drop null values & determing number of rows
df = df.dropna()
df["COUNTRY"].count().sum()

5979

In [8]:
#drop null values where the "PERPETRATOR, COORDINATES, DEAD, INJURED" columns have
# #null values to mitigate dataloss & count rows
# df = df.dropna(subset = ["PERPETRATOR", "COORDINATES", "DEAD", "INJURED", "SUBREGION", "REGION"])
# df["COUNTRY"].count().sum()

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5979 entries, 0 to 27143
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   DATE         5979 non-null   object
 1   COUNTRY      5979 non-null   object
 2   SUBREGION    5979 non-null   object
 3   REGION       5979 non-null   object
 4   PERPETRATOR  5979 non-null   object
 5   INJURED      5979 non-null   float64
 6   DEAD         5979 non-null   float64
 7   DESCRIPTION  5979 non-null   object
 8   COORDINATES  5979 non-null   object
 9   CATEGORY     5979 non-null   object
dtypes: float64(2), object(8)
memory usage: 513.8+ KB

In [10]:
# change the DATE column from object to date-time
df["DATE"] = pd.to_datetime(df["DATE"],infer_datetime_format=True)

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5979 entries, 0 to 27143
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   DATE         5979 non-null   datetime64[ns]
 1   COUNTRY      5979 non-null   object
 2   SUBREGION    5979 non-null   object
 3   REGION       5979 non-null   object
 4   PERPETRATOR  5979 non-null   object
 5   INJURED      5979 non-null   float64
 6   DEAD         5979 non-null   float64
 7   DESCRIPTION  5979 non-null   object
 8   COORDINATES  5979 non-null   object
 9   CATEGORY     5979 non-null   object
dtypes: datetime64[ns](1), float64(2), object(7)
memory usage: 513.8+ KB

In [11]:
#remove trailing 0 by changing float to integer (they are whole numbers in CSV)
df["INJURED"] = df["INJURED"].astype(int)
df.head()

,DATE,COUNTRY,SUBREGION,REGION,PERPETRATOR,INJURED,DEAD,DESCRIPTION,COORDINATES,CATEGORY
0,2022-07-16,Indonesia,South-Eastern Asia,Asia,West Papua National Liberation Army,2,10.0,Around 20 gunmen attacked the village of Nogol...,"-4.318185048526521, 138.18016262274278",Assault
4,2022-05-05,Israel,Western Asia,Asia,As'ad Alrafa'ani and Sabhi Shajir,4,3.0,"In Central Israel, two Palestinian men attacke...","31.5313113,34.8667654",Assault
5,2022-04-27,Syria,Western Asia,Asia,Islamic State,4,7.0,"In Deir ez-Zor Governorate, Islamic State mili...","34.6401861,39.0494106",Assault
6,2022-04-26,Pakistan,Southern Asia,Asia,Baloch Liberation Army,4,4.0,A female suicide bomber struck a van near the ...,"24.8546842,67.0207055",Explosion
7,2022-04-22,Afghanistan,Southern Asia,Asia,Islamic State - Khorasan Province,43,33.0,A bombing attack at the Sufi Khanaqa-e-Malawi ...,"36.8707187,68.7563528",Explosion

In [12]:
df["DEAD"] =df["DEAD"].astype(int)
df.head()

,DATE,COUNTRY,SUBREGION,REGION,PERPETRATOR,INJURED,DEAD,DESCRIPTION,COORDINATES,CATEGORY
0,2022-07-16,Indonesia,South-Eastern Asia,Asia,West Papua National Liberation Army,2,10,Around 20 gunmen attacked the village of Nogol...,"-4.318185048526521, 138.18016262274278",Assault
4,2022-05-05,Israel,Western Asia,Asia,As'ad Alrafa'ani and Sabhi Shajir,4,3,"In Central Israel, two Palestinian men attacke...","31.5313113,34.8667654",Assault
5,2022-04-27,Syria,Western Asia,Asia,Islamic State,4,7,"In Deir ez-Zor Governorate, Islamic State mili...","34.6401861,39.0494106",Assault
6,2022-04-26,Pakistan,Southern Asia,Asia,Baloch Liberation Army,4,4,A female suicide bomber struck a van near the ...,"24.8546842,67.0207055",Explosion
7,2022-04-22,Afghanistan,Southern Asia,Asia,Islamic State - Khorasan Province,43,33,A bombing attack at the Sufi Khanaqa-e-Malawi ...,"36.8707187,68.7563528",Explosion

In [13]:
# add a year column 
df["YEAR"] = pd.DatetimeIndex(df["DATE"]).year
df.head()

,DATE,COUNTRY,SUBREGION,REGION,PERPETRATOR,INJURED,DEAD,DESCRIPTION,COORDINATES,CATEGORY,YEAR
0,2022-07-16,Indonesia,South-Eastern Asia,Asia,West Papua National Liberation Army,2,10,Around 20 gunmen attacked the village of Nogol...,"-4.318185048526521, 138.18016262274278",Assault,2022
4,2022-05-05,Israel,Western Asia,Asia,As'ad Alrafa'ani and Sabhi Shajir,4,3,"In Central Israel, two Palestinian men attacke...","31.5313113,34.8667654",Assault,2022
5,2022-04-27,Syria,Western Asia,Asia,Islamic State,4,7,"In Deir ez-Zor Governorate, Islamic State mili...","34.6401861,39.0494106",Assault,2022
6,2022-04-26,Pakistan,Southern Asia,Asia,Baloch Liberation Army,4,4,A female suicide bomber struck a van near the ...,"24.8546842,67.0207055",Explosion,2022
7,2022-04-22,Afghanistan,Southern Asia,Asia,Islamic State - Khorasan Province,43,33,A bombing attack at the Sufi Khanaqa-e-Malawi ...,"36.8707187,68.7563528",Explosion,2022

In [14]:
#change coordinates to str to split column
df["COORDINATES"] = df["COORDINATES"].astype("string")
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5979 entries, 0 to 27143
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   DATE         5979 non-null   datetime64[ns]
 1   COUNTRY      5979 non-null   object
 2   SUBREGION    5979 non-null   object
 3   REGION       5979 non-null   object
 4   PERPETRATOR  5979 non-null   object
 5   INJURED      5979 non-null   int64
 6   DEAD         5979 non-null   int64
 7   DESCRIPTION  5979 non-null   object
 8   COORDINATES  5979 non-null   string
 9   CATEGORY     5979 non-null   object
 10  YEAR         5979 non-null   int64
dtypes: datetime64[ns](1), int64(3), object(6), string(1)
memory usage: 560.5+ KB

In [15]:
#remove the brackets
df[["LATITUDE", "LONGITUDE"]] = df["COORDINATES"].str.split(",", expand = True)
df.head()

,DATE,COUNTRY,SUBREGION,REGION,PERPETRATOR,INJURED,DEAD,DESCRIPTION,COORDINATES,CATEGORY,YEAR,LATITUDE,LONGITUDE
0,2022-07-16,Indonesia,South-Eastern Asia,Asia,West Papua National Liberation Army,2,10,Around 20 gunmen attacked the village of Nogol...,"-4.318185048526521, 138.18016262274278",Assault,2022,-4.318185048526521,138.18016262274278
4,2022-05-05,Israel,Western Asia,Asia,As'ad Alrafa'ani and Sabhi Shajir,4,3,"In Central Israel, two Palestinian men attacke...","31.5313113,34.8667654",Assault,2022,31.5313113,34.8667654
5,2022-04-27,Syria,Western Asia,Asia,Islamic State,4,7,"In Deir ez-Zor Governorate, Islamic State mili...","34.6401861,39.0494106",Assault,2022,34.6401861,39.0494106
6,2022-04-26,Pakistan,Southern Asia,Asia,Baloch Liberation Army,4,4,A female suicide bomber struck a van near the ...,"24.8546842,67.0207055",Explosion,2022,24.8546842,67.0207055
7,2022-04-22,Afghanistan,Southern Asia,Asia,Islamic State - Khorasan Province,43,33,A bombing attack at the Sufi Khanaqa-e-Malawi ...,"36.8707187,68.7563528",Explosion,2022,36.8707187,68.7563528

In [16]:
df = df.drop(["COORDINATES"], axis = 1)
df.head()

,DATE,COUNTRY,SUBREGION,REGION,PERPETRATOR,INJURED,DEAD,DESCRIPTION,CATEGORY,YEAR,LATITUDE,LONGITUDE
0,2022-07-16,Indonesia,South-Eastern Asia,Asia,West Papua National Liberation Army,2,10,Around 20 gunmen attacked the village of Nogol...,Assault,2022,-4.318185048526521,138.18016262274278
4,2022-05-05,Israel,Western Asia,Asia,As'ad Alrafa'ani and Sabhi Shajir,4,3,"In Central Israel, two Palestinian men attacke...",Assault,2022,31.5313113,34.8667654
5,2022-04-27,Syria,Western Asia,Asia,Islamic State,4,7,"In Deir ez-Zor Governorate, Islamic State mili...",Assault,2022,34.6401861,39.0494106
6,2022-04-26,Pakistan,Southern Asia,Asia,Baloch Liberation Army,4,4,A female suicide bomber struck a van near the ...,Explosion,2022,24.8546842,67.0207055
7,2022-04-22,Afghanistan,Southern Asia,Asia,Islamic State - Khorasan Province,43,33,A bombing attack at the Sufi Khanaqa-e-Malawi ...,Explosion,2022,36.8707187,68.7563528

In [17]:
#re-order columns & shorten name
clean_terror_df = df.reindex(columns = ["DATE", "YEAR", "COUNTRY", "REGION", "SUBREGION", "INJURED", "DEAD",\
                                  "CATEGORY", "DESCRIPTION", "LATITUDE", "LONGITUDE"])
clean_terror_df.head()

,DATE,YEAR,COUNTRY,REGION,SUBREGION,INJURED,DEAD,CATEGORY,DESCRIPTION,LATITUDE,LONGITUDE
0,2022-07-16,2022,Indonesia,Asia,South-Eastern Asia,2,10,Assault,Around 20 gunmen attacked the village of Nogol...,-4.318185048526521,138.18016262274278
4,2022-05-05,2022,Israel,Asia,Western Asia,4,3,Assault,"In Central Israel, two Palestinian men attacke...",31.5313113,34.8667654
5,2022-04-27,2022,Syria,Asia,Western Asia,4,7,Assault,"In Deir ez-Zor Governorate, Islamic State mili...",34.6401861,39.0494106
6,2022-04-26,2022,Pakistan,Asia,Southern Asia,4,4,Explosion,A female suicide bomber struck a van near the ...,24.8546842,67.0207055
7,2022-04-22,2022,Afghanistan,Asia,Southern Asia,43,33,Explosion,A bombing attack at the Sufi Khanaqa-e-Malawi ...,36.8707187,68.7563528

In [18]:
for column in clean_terror_df.columns:
    print(f'column {column} has {clean_terror_df[column].isnull().sum()} null values')

column DATE has 0 null values
column YEAR has 0 null values
column COUNTRY has 0 null values
column REGION has 0 null values
column SUBREGION has 0 null values
column INJURED has 0 null values
column DEAD has 0 null values
column CATEGORY has 0 null values
column DESCRIPTION has 0 null values
column LATITUDE has 0 null values
column LONGITUDE has 1 null values

In [22]:
clean_terror_df =  clean_terror_df.dropna()

# add to mongo

In [23]:
# connect notebook to cloud
from config import cloudM, cloudMpassword

In [24]:
cloudstr  = f"mongodb+srv://{cloudM}:{cloudMpassword}@finalproject.1pamme7.mongodb.net/test"

In [25]:
cloudclient = MongoClient(cloudstr)
#upload to cloud
db = cloudclient['final_project']
colmanager = db["clean_terror_df"]
colmanager.insert_many(clean_terror_df.to_dict('records'))