In [1]:
#imports
import pymongo
import csv
import json
from pymongo import MongoClient
import pandas as pd

In [2]:
#read cvs
data_terror = pd.read_csv("terror.csv")
raw_data.head()

,DATE,COUNTRY,STATE,CITY,SUBREGION,REGION,PERPETRATOR,INJURED,DEAD,DESCRIPTION,COORDINATES,CATEGORY
0,2022-07-16,Indonesia,Papua,NaN,South-Eastern Asia,Asia,West Papua National Liberation Army,2.0,10.0,Around 20 gunmen attacked the village of Nogol...,"-4.318185048526521, 138.18016262274278",Assault
1,2022-06-28,India,Rajasthan,Udaipur,Southern Asia,Asia,Islamists,NaN,1.0,A Hindu tailor was murdered by two Muslim assa...,"24.612639887486125, 73.69126308833513",Assault
2,2022-06-25,Norway,NaN,Oslo,Northern Europe,Europe,NaN,10.0,2.0,"Two people were killed and 21 injured, 10 of t...","59.913751261491804, 10.75215147566024",Assault
3,2022-06-18,Mali,NaN,NaN,Western Africa,Africa,Macina Liberation Front,NaN,132.0,Unidentified gunmen killed 132 civilians in Di...,"16.3700359,-2.2900239",Assault
4,2022-05-05,Israel,NaN,NaN,Western Asia,Asia,As'ad Alrafa'ani and Sabhi Shajir,4.0,3.0,"In Central Israel, two Palestinian men attacke...","31.5313113,34.8667654",Assault

In [3]:
raw_data.columns

Index(['DATE', 'COUNTRY', 'STATE', 'CITY', 'SUBREGION', 'REGION',
       'PERPETRATOR', 'INJURED', 'DEAD', 'DESCRIPTION', 'COORDINATES',
       'CATEGORY'],
      dtype='object')

In [4]:
raw_data.dtypes

DATE            object
COUNTRY         object
STATE           object
CITY            object
SUBREGION       object
REGION          object
PERPETRATOR     object
INJURED        float64
DEAD           float64
DESCRIPTION     object
COORDINATES     object
CATEGORY        object
dtype: object

# add to local mongo

In [5]:
client = MongoClient()
client = MongoClient('localhost', 27017)
db = client['final_project']
colmanager = db["terror_df_raw"]
colmanager.drop()

In [7]:
#drop the info inserted previously
colmanager.drop()

In [8]:
#use the insert many commnand
colmanager.insert_many(raw_data.to_dict('records'))

# connect and add to cloud

In [9]:
# connect notebook to cloud
from config import cloudM, cloudMpassword

In [10]:
cloudstr  = f"mongodb+srv://{cloudM}:{cloudMpassword}@finalproject.1pamme7.mongodb.net/test"

In [12]:
cloudclient = MongoClient(cloudstr)
#upload to cloud
colmanager.drop()
db = cloudclient['final_project']
colmanager = db["terror_df_raw"]
colmanager.insert_many(raw_data.to_dict('records'))