In [1]:
# Import Dependencies
from pymongo import MongoClient
from config import cloudM, cloudMpassword
import pandas as pd
import numpy as np
import datetime as dt
import csv
import json
import re

In [2]:
#create a variable for columns to keep
#did not include the note columns because it would drop some data due to null
columns = ["Country", 
            "Economy: Real GDP (purchasing power parity)", 
            "Economy: Real GDP growth rate",
            "Economy: Real GDP per capita",
            "Economy: Current account balance",
            "Economy: Exports",
            "Economy: Exports - partners",
            "Economy: Reserves of foreign exchange and gold",
            "Energy: Electricity access - electrification - total population",
            "Economy: Credit ratings - Moody's rating",
            "Economy: Credit ratings - Standard & Poors rating",
            "Economy: Credit ratings - Fitch rating",
            "Economy: Unemployment rate",
            "Economy: Population below poverty line",
            "Economy: Household income or consumption by percentage share - highest 10%",
            "People and Society: Population",
            "People and Society: Nationality - noun",
            "People and Society: Nationality - adjective",
            "People and Society: Languages",
            "People and Society: Religions",
            "People and Society: Age structure - 0-14 years",
            "People and Society: Age structure - 15-24 years",
            "People and Society: Age structure - 25-54 years",
            "People and Society: Age structure - 55-64 years",
            "People and Society: Median age - total",
            "People and Society: Median age - male",
            "People and Society: Median age - female",
            "People and Society: Population growth rate",
            "People and Society: Birth rate",
            "People and Society: Death rate",
            "People and Society: Net migration rate",
            "People and Society: Urbanization - urban population",
            "People and Society: Sex ratio - at birth",
            "People and Society: Sex ratio - 65 years and over",
            "People and Society: Sex ratio - total population",
            "People and Society: Infant mortality rate - total",
            "People and Society: Life expectancy at birth - total population",
            "People and Society: Life expectancy at birth - male",
            "People and Society: Life expectancy at birth - female",
            "People and Society: Total fertility rate",
            "People and Society: Obesity - adult prevalence rate",
            "People and Society: Tobacco use - total",
            "Communications: Internet users - total",
            "Communications: Internet users - percent of population",
            "Military and Security: Military expenditures",
            "Military and Security: Military service age and obligation",
            "Terrorism: Terrorist group(s)", "Military and Security: Military - note"]

In [3]:
#load data and create df to clean
data = pd.read_csv("countries.csv")
#previouly determined all fields were objects, load as string for cleaning
df = pd.DataFrame(data).astype("string")
df = df.loc[:, columns].copy()
df.head()

,Country,Economy: Real GDP (purchasing power parity),Economy: Real GDP growth rate,Economy: Real GDP per capita,Economy: Current account balance,Economy: Exports,Economy: Exports - partners,Economy: Reserves of foreign exchange and gold,Energy: Electricity access - electrification - total population,Economy: Credit ratings - Moody's rating,...,People and Society: Life expectancy at birth - female,People and Society: Total fertility rate,People and Society: Obesity - adult prevalence rate,People and Society: Tobacco use - total,Communications: Internet users - total,Communications: Internet users - percent of population,Military and Security: Military expenditures,Military and Security: Military service age and obligation,Terrorism: Terrorist group(s),Military and Security: Military - note
0,Afghanistan,$77.04 billion (2020 est.)$78.56 billion (2019...,2.7% (2017 est.)2.2% (2016 est.)1% (2015 est.),"$2,000 (2020 est.)$2,100 (2019 est.)$2,000 (20...",$1.014 billion (2017 est.)$1.409 billion (2016...,$1.48 billion (2020 est.),"United Arab Emirates 45%, Pakistan 24%, India ...",$7.187 billion (31 December 2017 est.)$6.901 b...,99% (2018),<NA>,...,55.28 years (2022 est.),4.62 children born/woman (2022 est.),5.5% (2016),23.3% (2020 est.),"7,007,101 (2020 est.)",18% (2020 est.),3.3% of GDP (2019) (approximately $2.35 billio...,not available,Haqqani Taliban Network; Harakat ul-Mujahidin;...,"as of early 2022, the Talibanâ€™s primary securi..."
1,Akrotiri,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,defense is the responsibility of the UK; Akrot...
2,Albania,$37.73 billion (2020 est.)$39.02 billion (2019...,2.24% (2019 est.)4.07% (2018 est.)3.8% (2017 e...,"$13,300 (2020 est.)$13,700 (2019 est.)$13,300 ...",-$908 million (2017 est.)-$899 million (2016 e...,$3.47 billion (2020 est.) note: data are in cu...,"Italy 45%, Spain 8%, Germany 6%, Greece 5%, Fr...",$3.59 billion (31 December 2017 est.)$3.109 bi...,100% (2020),B1 (2007),...,82.33 years (2022 est.),1.54 children born/woman (2022 est.),21.7% (2016),22.4% (2020 est.),"2,043,251 (2020 est.)",72% (2020 est.),1.4% of GDP (2021 est.)1.3% of GDP (2020)1.5% ...,19 is the legal minimum age for voluntary mili...,Islamic Revolutionary Guard Corps/Qods Force; ...,Albania officially became a member of NATO in ...
3,Algeria,$468.4 billion (2020 est.)$495.56 billion (201...,1.4% (2017 est.)3.2% (2016 est.)3.7% (2015 est.),"$10,700 (2020 est.)$11,500 (2019 est.)$11,600 ...",-$22.1 billion (2017 est.)-$26.47 billion (201...,$38.32 billion (2019 est.) note: data are in c...,"Italy 13%, France 13%, Spain 12%, United State...",$97.89 billion (31 December 2017 est.)$114.7 b...,99.4% (2019),<NA>,...,79.57 years (2022 est.),2.51 children born/woman (2022 est.),27.4% (2016),21% (2020 est.),"27,626,157 (2020 est.)",63% (2020 est.),5.6% of GDP (2021 est.)6.7% of GDP (2020 est.)...,18 is the legal minimum age for voluntary mili...,al-Qa'ida in the Islamic Maghreb (AQIM); Islam...,the ANP has played a large role in the country...
4,American Samoa,$658 million (2016 est.)$674.9 million (2015 e...,-2.5% (2016 est.)1.2% (2015 est.)1% (2014 est.),"$11,200 (2016 est.)$11,300 (2015 est.)$11,200 ...",<NA>,$428 million (2016 est.)$427 million (2015 est.),"Australia 25%, Ghana 19%, Indonesia 15.6%, Bur...",<NA>,<NA>,<NA>,...,77.97 years (2022 est.),2.21 children born/woman (2022 est.),<NA>,<NA>,"17,147 (2020 est.)",31% (2020 est.),<NA>,<NA>,<NA>,defense is the responsibility of the US

In [4]:
#understand df composition
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 258 entries, 0 to 257
Data columns (total 48 columns):
 #   Column                                                                      Non-Null Count  Dtype
---  ------                                                                      --------------  -----
 0   Country                                                                     258 non-null    string
 1   Economy: Real GDP (purchasing power parity)                                 229 non-null    string
 2   Economy: Real GDP growth rate                                               224 non-null    string
 3   Economy: Real GDP per capita                                                229 non-null    string
 4   Economy: Current account balance                                            205 non-null    string
 5   Economy: Exports                                                            225 non-null    string
 6   Economy: Exports - partners                                                 225 non-null    string
 7   Economy: Reserves of foreign exchange and gold                              194 non-null    string
 8   Energy: Electricity access - electrification - total population             221 non-null    string
 9   Economy: Credit ratings - Moody's rating                                    140 non-null    string
 10  Economy: Credit ratings - Standard & Poors rating                           134 non-null    string
 11  Economy: Credit ratings - Fitch rating                                      119 non-null    string
 12  Economy: Unemployment rate                                                  219 non-null    string
 13  Economy: Population below poverty line                                      180 non-null    string
 14  Economy: Household income or consumption by percentage share - highest 10%  152 non-null    string
 15  People and Society: Population                                              258 non-null    string
 16  People and Society: Nationality - noun                                      229 non-null    string
 17  People and Society: Nationality - adjective                                 228 non-null    string
 18  People and Society: Languages                                               237 non-null    string
 19  People and Society: Religions                                               235 non-null    string
 20  People and Society: Age structure - 0-14 years                              228 non-null    string
 21  People and Society: Age structure - 15-24 years                             228 non-null    string
 22  People and Society: Age structure - 25-54 years                             228 non-null    string
 23  People and Society: Age structure - 55-64 years                             228 non-null    string
 24  People and Society: Median age - total                                      227 non-null    string
 25  People and Society: Median age - male                                       227 non-null    string
 26  People and Society: Median age - female                                     227 non-null    string
 27  People and Society: Population growth rate                                  237 non-null    string
 28  People and Society: Birth rate                                              228 non-null    string
 29  People and Society: Death rate                                              235 non-null    string
 30  People and Society: Net migration rate                                      230 non-null    string
 31  People and Society: Urbanization - urban population                         228 non-null    string
 32  People and Society: Sex ratio - at birth                                    227 non-null    string
 33  People and Society: Sex ratio - 65 years and over                           227 non-null    string
 34  People and Society: Sex ratio - total population                            228 non-null    string
 35  People and Society: Infant mortality rate - total                           228 non-null    string
 36  People and Society: Life expectancy at birth - total population             228 non-null    string
 37  People and Society: Life expectancy at birth - male                         228 non-null    string
 38  People and Society: Life expectancy at birth - female                       229 non-null    string
 39  People and Society: Total fertility rate                                    230 non-null    string
 40  People and Society: Obesity - adult prevalence rate                         191 non-null    string
 41  People and Society: Tobacco use - total                                     163 non-null    string
 42  Communications: Internet users - total                                      229 non-null    string
 43  Communications: Internet users - percent of population                      228 non-null    string
 44  Military and Security: Military expenditures                                176 non-null    string
 45  Military and Security: Military service age and obligation                  178 non-null    string
 46  Terrorism: Terrorist group(s)                                               82 non-null     string
 47  Military and Security: Military - note                                      254 non-null    string
dtypes: string(48)
memory usage: 96.9 KB

In [5]:
#find null vallues
for column in df.columns:
    print(f'column {column} has {df[column].isnull().sum()} null values')

column Country has 0 null values
column Economy: Real GDP (purchasing power parity) has 29 null values
column Economy: Real GDP growth rate has 34 null values
column Economy: Real GDP per capita has 29 null values
column Economy: Current account balance has 53 null values
column Economy: Exports has 33 null values
column Economy: Exports - partners has 33 null values
column Economy: Reserves of foreign exchange and gold has 64 null values
column Energy: Electricity access - electrification - total population has 37 null values
column Economy: Credit ratings - Moody's rating has 118 null values
column Economy: Credit ratings - Standard & Poors rating has 124 null values
column Economy: Credit ratings - Fitch rating has 139 null values
column Economy: Unemployment rate has 39 null values
column Economy: Population below poverty line has 78 null values
column Economy: Household income or consumption by percentage share - highest 10% has 106 null values
column People and Society: Population has 0 null values
column People and Society: Nationality - noun has 29 null values
column People and Society: Nationality - adjective has 30 null values
column People and Society: Languages has 21 null values
column People and Society: Religions has 23 null values
column People and Society: Age structure - 0-14 years has 30 null values
column People and Society: Age structure - 15-24 years has 30 null values
column People and Society: Age structure - 25-54 years has 30 null values
column People and Society: Age structure - 55-64 years has 30 null values
column People and Society: Median age - total has 31 null values
column People and Society: Median age - male has 31 null values
column People and Society: Median age - female has 31 null values
column People and Society: Population growth rate has 21 null values
column People and Society: Birth rate has 30 null values
column People and Society: Death rate has 23 null values
column People and Society: Net migration rate has 28 null values
column People and Society: Urbanization - urban population has 30 null values
column People and Society: Sex ratio - at birth has 31 null values
column People and Society: Sex ratio - 65 years and over has 31 null values
column People and Society: Sex ratio - total population has 30 null values
column People and Society: Infant mortality rate - total has 30 null values
column People and Society: Life expectancy at birth - total population has 30 null values
column People and Society: Life expectancy at birth - male has 30 null values
column People and Society: Life expectancy at birth - female has 29 null values
column People and Society: Total fertility rate has 28 null values
column People and Society: Obesity - adult prevalence rate has 67 null values
column People and Society: Tobacco use - total has 95 null values
column Communications: Internet users - total has 29 null values
column Communications: Internet users - percent of population has 30 null values
column Military and Security: Military expenditures has 82 null values
column Military and Security: Military service age and obligation has 80 null values
column Terrorism: Terrorist group(s) has 176 null values
column Military and Security: Military - note has 4 null values

In [6]:
#drop null values & determing number of rows
df = df.dropna()
df.count()

Country                                                                       49
Economy: Real GDP (purchasing power parity)                                   49
Economy: Real GDP growth rate                                                 49
Economy: Real GDP per capita                                                  49
Economy: Current account balance                                              49
Economy: Exports                                                              49
Economy: Exports - partners                                                   49
Economy: Reserves of foreign exchange and gold                                49
Energy: Electricity access - electrification - total population               49
Economy: Credit ratings - Moody's rating                                      49
Economy: Credit ratings - Standard & Poors rating                             49
Economy: Credit ratings - Fitch rating                                        49
Economy: Unemployment rate                                                    49
Economy: Population below poverty line                                        49
Economy: Household income or consumption by percentage share - highest 10%    49
People and Society: Population                                                49
People and Society: Nationality - noun                                        49
People and Society: Nationality - adjective                                   49
People and Society: Languages                                                 49
People and Society: Religions                                                 49
People and Society: Age structure - 0-14 years                                49
People and Society: Age structure - 15-24 years                               49
People and Society: Age structure - 25-54 years                               49
People and Society: Age structure - 55-64 years                               49
People and Society: Median age - total                                        49
People and Society: Median age - male                                         49
People and Society: Median age - female                                       49
People and Society: Population growth rate                                    49
People and Society: Birth rate                                                49
People and Society: Death rate                                                49
People and Society: Net migration rate                                        49
People and Society: Urbanization - urban population                           49
People and Society: Sex ratio - at birth                                      49
People and Society: Sex ratio - 65 years and over                             49
People and Society: Sex ratio - total population                              49
People and Society: Infant mortality rate - total                             49
People and Society: Life expectancy at birth - total population               49
People and Society: Life expectancy at birth - male                           49
People and Society: Life expectancy at birth - female                         49
People and Society: Total fertility rate                                      49
People and Society: Obesity - adult prevalence rate                           49
People and Society: Tobacco use - total                                       49
Communications: Internet users - total                                        49
Communications: Internet users - percent of population                        49
Military and Security: Military expenditures                                  49
Military and Security: Military service age and obligation                    49
Terrorism: Terrorist group(s)                                                 49
Military and Security: Military - note                                        49
dtype: int64

In [7]:
#create a function to clean the economy columns
#$77.04 billion (2020 est.)$78.56 billion (2019 est.)$75.6 billion (2018 est.)
#change column name to "Real GDP (purchasing power parity) in billions"
#one column for 2020, 2019, 2018
#remove billion from column
#remove (2020 est.) remove $

In [8]:
#create a for loop to remove billions from Real GDP (purchasing power parity)
df_c= df.rename(columns = {"Economy: Real GDP (purchasing power parity)" : "Real GDP"})
df_c.head()

,Country,Real GDP,Economy: Real GDP growth rate,Economy: Real GDP per capita,Economy: Current account balance,Economy: Exports,Economy: Exports - partners,Economy: Reserves of foreign exchange and gold,Energy: Electricity access - electrification - total population,Economy: Credit ratings - Moody's rating,...,People and Society: Life expectancy at birth - female,People and Society: Total fertility rate,People and Society: Obesity - adult prevalence rate,People and Society: Tobacco use - total,Communications: Internet users - total,Communications: Internet users - percent of population,Military and Security: Military expenditures,Military and Security: Military service age and obligation,Terrorism: Terrorist group(s),Military and Security: Military - note
10,Argentina,$893.31 billion (2020 est.)$991.52 billion (20...,-2.03% (2019 est.)-2.53% (2018 est.)2.83% (201...,"$19,700 (2020 est.)$22,100 (2019 est.)$22,800 ...",-$3.997 billion (2019 est.)-$27.049 billion (2...,$64.18 billion (2020 est.) note: data are in c...,"Brazil 16%, China 11%, United States 7%, Chile...",$55.33 billion (31 December 2017 est.)$38.43 b...,99% (2020),Ca (2020),...,81.59 years (2022 est.),2.18 children born/woman (2022 est.),28.3% (2016),24.5% (2020 est.),"39,024,016 (2020 est.)",86% (2020 est.),0.8% of GDP (2021 est.)0.8% of GDP (2020)0.7% ...,18-24 years of age for voluntary military serv...,Hizballah,Argentina has Major Non-NATO Ally (MNNA) statu...
15,Austria,$463.12 billion (2020 est.)$495.8 billion (201...,1.42% (2019 est.)2.58% (2018 est.)2.4% (2017 e...,"$51,900 (2020 est.)$55,800 (2019 est.)$55,300 ...",$12.667 billion (2019 est.)$5.989 billion (201...,$226.79 billion (2020 est.) note: data are in ...,"Germany 28%, United States 7%, Italy 6%, Switz...",$21.57 billion (31 December 2017 est.)$23.36 b...,100% (2020),Aa1 (2016),...,85.04 years (2022 est.),1.51 children born/woman (2022 est.),20.1% (2016),26.4% (2020 est.),"7,846,840 (2020 est.)",88% (2020 est.),0.9% of GDP (2021 est.)0.7% of GDP (2020 est.)...,"registration requirement at age 17, the legal ...",Islamic State of Iraq and ash-Sham (ISIS),"Austria is constitutionally non-aligned, but i..."
16,Azerbaijan,$138.51 billion (2020 est.)$144.74 billion (20...,0.1% (2017 est.)-3.1% (2016 est.)0.6% (2015 est.),"$13,700 (2020 est.)$14,400 (2019 est.)$14,200 ...",$1.685 billion (2017 est.)-$1.363 billion (201...,$15.21 billion (2020 est.) note: data are in c...,"Italy 28%, Turkey 15%, Israel 7%, Germany 5%, ...",$6.681 billion (31 December 2017 est.)$7.142 b...,100% (2020),Ba2 (2017),...,77.41 years (2022 est.),1.86 children born/woman (2022 est.),19.9% (2016),24% (2020 est.),"8,579,153 (2020 est.)",85% (2020 est.),5.2% of GDP (2021 est.)5.4% of GDP (2020 est.)...,men age 18-35 years for compulsory military se...,Islamic State of Iraq and ash-Sham (ISIS); Isl...,"since November 2020, Russia has deployed about..."
20,Bangladesh,$793.49 billion (2020 est.)$775.08 billion (20...,7.4% (2017 est.)7.2% (2016 est.)6.8% (2015 est.),"$4,800 (2020 est.)$4,800 (2019 est.)$4,400 (20...",-$5.322 billion (2017 est.)$1.391 billion (201...,$38.78 billion (2020 est.) note: data are in c...,"United States 15%, Germany 14%, United Kingdom...",$33.42 billion (31 December 2017 est.)$32.28 b...,83% (2019),Ba3 (2012),...,76.96 years (2022 est.),2.09 children born/woman (2022 est.),3.6% (2016),34.7% (2020 est.),"41,172,346 (2020 est.)",25% (2020 est.),1.2% of GDP (2021 est.)1.3% of GDP (2020 est.)...,16-21 years of age for voluntary military serv...,Harakat ul-Jihad-i-Islami/Bangladesh; Islamic ...,the militaryâ€™s chief areas of focus are border...
23,Belgium,$557.11 billion (2020 est.)$594.47 billion (20...,1.41% (2019 est.)1.49% (2018 est.)1.9% (2017 e...,"$48,200 (2020 est.)$51,700 (2019 est.)$51,100 ...",$1.843 billion (2019 est.)-$4.135 billion (201...,$414.79 billion (2020 est.) note: data are in ...,"Germany 17%, France 14%, Netherlands 13%, Unit...",$26.16 billion (31 December 2017 est.)$24.1 bi...,100% (2020),Aa3 (2011),...,84.59 years (2022 est.),1.77 children born/woman (2022 est.),22.1% (2016),23.4% (2020 est.),"10,620,701 (2020 est.)",92% (2020 est.),1.1% of GDP (2021 est.)1% of GDP (2020)0.9% of...,18 years of age for male and female voluntary ...,Islamic Revolutionary Guard Corps/Qods Force; ...,Belgium is a member of NATO and was one of the...

In [9]:
real_gdp = df_c["Real GDP"]

In [10]:
real_gdp = real_gdp.str.replace("billion", " ")
real_gdp[:5]

10    $893.31   (2020 est.)$991.52   (2019 est.)$1,0...
15    $463.12   (2020 est.)$495.8   (2019 est.)$488....
16    $138.51   (2020 est.)$144.74   (2019 est.)$141...
20    $793.49   (2020 est.)$775.08   (2019 est.)$716...
23    $557.11   (2020 est.)$594.47   (2019 est.)$584...
Name: Real GDP, dtype: string

In [11]:
real_gdp = pd.DataFrame(real_gdp.str.split(" ", expand = True))
real_gdp.head()
real_gdp.columns

RangeIndex(start=0, stop=13, step=1)

In [12]:
real_gdp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 49 entries, 10 to 246
Data columns (total 13 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       49 non-null     string
 1   1       49 non-null     string
 2   2       49 non-null     string
 3   3       49 non-null     string
 4   4       49 non-null     string
 5   5       49 non-null     string
 6   6       49 non-null     string
 7   7       33 non-null     string
 8   8       33 non-null     string
 9   9       33 non-null     string
 10  10      33 non-null     string
 11  11      32 non-null     string
 12  12      32 non-null     string
dtypes: string(13)
memory usage: 5.4 KB

In [13]:
real_gdp.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12
10,$893.31,,,(2020,est.)$991.52,,,(2019,"est.)$1,012,670,000,000",(2018,est.),<NA>,<NA>
15,$463.12,,,(2020,est.)$495.8,,,(2019,est.)$488.86,,,(2018,est.)
16,$138.51,,,(2020,est.)$144.74,,,(2019,est.)$141.24,,,(2018,est.)
20,$793.49,,,(2020,est.)$775.08,,,(2019,est.)$716.65,,,(2018,est.)
23,$557.11,,,(2020,est.)$594.47,,,(2019,est.)$584.05,,,(2018,est.)

In [14]:
real_gdp_2020 = real_gdp[0]

In [15]:
real_gdp_2019 = real_gdp[4]

In [16]:
real_gdp_2018 = real_gdp[8]

In [17]:
real_gdp[4]

10                 est.)$991.52
15                  est.)$495.8
16                 est.)$144.74
20                 est.)$775.08
23                 est.)$594.47
25                  est.)$38.79
32      est.)$3,072,550,000,000
36                 est.)$161.78
42                  est.)$94.25
43      est.)$1,808,660,000,000
52                 est.)$734.22
62                  est.)$35.48
64                 est.)$335.36
70      est.)$1,118,720,000,000
76                 est.)$248.97
81      est.)$3,036,490,000,000
88      est.)$4,432,430,000,000
91                 est.)$318.68
108     est.)$8,817,670,000,000
109     est.)$3,043,880,000,000
111                est.)$415.32
112                est.)$433.17
114                est.)$362.23
115     est.)$2,540,890,000,000
122                est.)$101.74
144                est.)$906.24
159                 est.)$279.3
160                 est.)$38.91
165                est.)$982.22
170     est.)$1,009,750,000,000
177     est.)$1,005,850,000,000
183                 est.)$88.87
184                est.)$417.88
185                est.)$963.83
187     est.)$1,202,820,000,000
188                est.)$358.78
191                est.)$578.39
192     est.)$3,913,980,000,000
215                est.)$730.91
217     est.)$1,886,540,000,000
219                est.)$284.97
223                est.)$539.96
224                est.)$608.16
235                est.)$125.78
236     est.)$2,331,270,000,000
240                 est.)$96.84
243     est.)$3,059,690,000,000
244    est.)$20,128,580,000,000
246                est.)$235.54
Name: 4, dtype: string

In [18]:
len("0 est.)")

7

In [19]:
df["Economy: Real GDP growth rate"]

10     -2.03% (2019 est.)-2.53% (2018 est.)2.83% (201...
15     1.42% (2019 est.)2.58% (2018 est.)2.4% (2017 e...
16     0.1% (2017 est.)-3.1% (2016 est.)0.6% (2015 est.)
20      7.4% (2017 est.)7.2% (2016 est.)6.8% (2015 est.)
23     1.41% (2019 est.)1.49% (2018 est.)1.9% (2017 e...
25        5.6% (2017 est.)4% (2016 est.)2.1% (2015 est.)
32     1.13% (2019 est.)1.2% (2018 est.)1.62% (2017 e...
36     3.39% (2019 est.)3.2% (2018 est.)3.5% (2017 est.)
42      3.5% (2017 est.)4.6% (2016 est.)5.7% (2015 est.)
43     1.66% (2019 est.)2.02% (2018 est.)3.17% (2017 ...
52     3.26% (2019 est.)2.51% (2018 est.)1.36% (2017 ...
62     3.08% (2019 est.)5.25% (2018 est.)5.16% (2017 ...
64     2.85% (2019 est.)2.18% (2018 est.)2.83% (2017 ...
70      4.2% (2017 est.)4.3% (2016 est.)4.4% (2015 est.)
76      10.9% (2017 est.)8% (2016 est.)10.4% (2015 est.)
81     1.49% (2019 est.)1.81% (2018 est.)2.42% (2017 ...
88     0.59% (2019 est.)1.3% (2018 est.)2.91% (2017 e...
91     1.87% (2019 est.)1.91% (2018 est.)1.44% (2017 ...
108    4.86% (2019 est.)6.78% (2018 est.)6.55% (2017 ...
109    5.03% (2019 est.)5.17% (2018 est.)5.07% (2017 ...
111    -2.1% (2017 est.)13.1% (2016 est.)2.5% (2015 e...
112    5.86% (2019 est.)9.42% (2018 est.)9.49% (2017 ...
114    -2.6% (2020 est.)3.28% (2019 est.)3.69% (2018 ...
115    0.34% (2019 est.)0.83% (2018 est.)1.73% (2017 ...
122     2% (2019 est.)1.94% (2018 est.)2.12% (2017 est.)
144    4.31% (2019 est.)4.77% (2018 est.)5.81% (2017 ...
159    2.5% (2019 est.)2.96% (2018 est.)3.98% (2017 e...
160    3.11% (2018 est.)3.7% (2017 est.)4.07% (2017 e...
165    1.63% (2019 est.)2.32% (2018 est.)3.02% (2017 ...
170    0.8% (2017 est.)-1.6% (2016 est.)2.7% (2015 est.)
177     5.4% (2017 est.)4.6% (2016 est.)4.1% (2015 est.)
183     4.8% (2017 est.)4.3% (2016 est.)3.1% (2015 est.)
184    2.18% (2019 est.)3.97% (2018 est.)2.48% (2017 ...
185    6.04% (2019 est.)6.34% (2018 est.)6.94% (2017 ...
187    4.55% (2019 est.)5.36% (2018 est.)4.83% (2017 ...
188    2.24% (2019 est.)2.85% (2018 est.)3.51% (2017 ...
191    4.2% (2019 est.)4.54% (2018 est.)7.11% (2017 e...
192    1.34% (2019 est.)2.54% (2018 est.)1.83% (2017 ...
215    0.06% (2019 est.)0.7% (2018 est.)1.4% (2017 est.)
217    1.95% (2019 est.)2.43% (2018 est.)2.97% (2017 ...
219    2.29% (2019 est.)3.32% (2018 est.)3.58% (2017 ...
223    1.29% (2019 est.)2.06% (2018 est.)2.82% (2017 ...
224    1.11% (2019 est.)3.04% (2018 est.)1.65% (2017 ...
235       2% (2017 est.)1.1% (2016 est.)1.2% (2015 est.)
236    0.98% (2019 est.)3.04% (2018 est.)7.54% (2017 ...
240     4.8% (2017 est.)2.3% (2016 est.)5.7% (2015 est.)
243    1.26% (2019 est.)1.25% (2018 est.)1.74% (2017 ...
244     2.16% (2019 est.)3% (2018 est.)2.33% (2017 est.)
246     5.3% (2017 est.)7.8% (2016 est.)7.9% (2015 est.)
Name: Economy: Real GDP growth rate, dtype: string

In [20]:
df["Economy: Real GDP per capita"]

10     $19,700 (2020 est.)$22,100 (2019 est.)$22,800 ...
15     $51,900 (2020 est.)$55,800 (2019 est.)$55,300 ...
16     $13,700 (2020 est.)$14,400 (2019 est.)$14,200 ...
20     $4,800 (2020 est.)$4,800 (2019 est.)$4,400 (20...
23     $48,200 (2020 est.)$51,700 (2019 est.)$51,100 ...
25     $3,300 (2020 est.)$3,300 (2019 est.)$3,200 (20...
32     $14,100 (2020 est.)$14,800 (2019 est.)$14,700 ...
36     $22,400 (2020 est.)$23,200 (2019 est.)$22,200 ...
42     $3,600 (2020 est.)$3,600 (2019 est.)$3,600 (20...
43     $45,900 (2020 est.)$49,000 (2019 est.)$48,800 ...
52     $13,400 (2020 est.)$14,600 (2019 est.)$14,300 ...
62     $37,700 (2020 est.)$40,200 (2019 est.)$39,600 ...
64     $55,900 (2020 est.)$57,700 (2019 est.)$56,300 ...
70     $12,000 (2020 est.)$11,800 (2019 est.)$11,400 ...
76     $2,300 (2020 est.)$2,200 (2019 est.)$2,100 (20...
81     $42,000 (2020 est.)$45,800 (2019 est.)$45,300 ...
88     $50,900 (2020 est.)$53,600 (2019 est.)$53,500 ...
91     $27,300 (2020 est.)$29,700 (2019 est.)$29,200 ...
108    $6,100 (2020 est.)$6,700 (2019 est.)$6,500 (20...
109    $11,400 (2020 est.)$11,800 (2019 est.)$11,400 ...
111    $9,300 (2020 est.)$10,600 (2019 est.)$10,300 (...
112    $89,700 (2020 est.)$87,800 (2019 est.)$84,300 ...
114    $38,300 (2020 est.)$40,000 (2019 est.)$39,400 ...
115    $39,000 (2020 est.)$42,700 (2019 est.)$42,100 ...
122    $9,800 (2020 est.)$10,100 (2019 est.)$10,000 (...
144    $26,400 (2020 est.)$28,400 (2019 est.)$27,600 ...
159    $6,900 (2020 est.)$7,500 (2019 est.)$7,400 (20...
160    $1,200 (2020 est.)$1,300 (2019 est.)$1,300 (20...
165    $54,200 (2020 est.)$56,600 (2019 est.)$56,100 ...
170    $4,900 (2020 est.)$5,100 (2019 est.)$5,200 (20...
177    $4,600 (2020 est.)$4,700 (2019 est.)$4,700 (20...
183    $12,300 (2020 est.)$12,600 (2019 est.)$12,800 ...
184    $11,300 (2020 est.)$12,900 (2019 est.)$12,800 ...
185    $8,000 (2020 est.)$8,900 (2019 est.)$8,500 (20...
187    $32,200 (2020 est.)$33,100 (2019 est.)$31,700 ...
188    $32,200 (2020 est.)$34,900 (2019 est.)$34,000 ...
191    $28,800 (2020 est.)$29,900 (2019 est.)$28,500 ...
192    $26,500 (2020 est.)$27,200 (2019 est.)$26,700 ...
215    $11,500 (2020 est.)$12,500 (2019 est.)$12,600 ...
217    $36,200 (2020 est.)$40,800 (2019 est.)$40,300 ...
219    $12,500 (2020 est.)$13,100 (2019 est.)$12,900 ...
223    $50,700 (2020 est.)$52,500 (2019 est.)$52,300 ...
224    $68,400 (2020 est.)$70,900 (2019 est.)$70,700 ...
235    $9,700 (2020 est.)$10,800 (2019 est.)$10,800 (...
236    $28,400 (2020 est.)$28,200 (2019 est.)$28,300 ...
240    $2,200 (2020 est.)$2,200 (2019 est.)$2,100 (20...
243    $41,600 (2020 est.)$46,400 (2019 est.)$46,000 ...
244    $60,200 (2020 est.)$62,600 (2019 est.)$61,600 ...
246    $7,000 (2020 est.)$7,000 (2019 est.)$6,800 (20...
Name: Economy: Real GDP per capita, dtype: string

In [21]:
df["Economy: Current account balance"]

10     -$3.997 billion (2019 est.)-$27.049 billion (2...
15     $12.667 billion (2019 est.)$5.989 billion (201...
16     $1.685 billion (2017 est.)-$1.363 billion (201...
20     -$5.322 billion (2017 est.)$1.391 billion (201...
23     $1.843 billion (2019 est.)-$4.135 billion (201...
25     -$1.024 billion (2017 est.)-$808 million (2016...
32     -$50.927 billion (2019 est.)-$41.54 billion (2...
36     $2.06 billion (2019 est.)$611 million (2018 est.)
42     -$932 million (2017 est.)-$1.034 billion (2016...
43     -$35.425 billion (2019 est.)-$42.862 billion (...
52     -$13.748 billion (2019 est.)-$13.118 billion (...
62     -$1.578 billion (2019 est.)-$958 million (2018...
64     $30.935 billion (2019 est.)$24.821 billion (20...
70     -$8.915 billion (2019 est.)-$7.682 billion (20...
76     -$6.551 billion (2017 est.)-$6.574 billion (20...
81     -$18.102 billion (2019 est.)-$16.02 billion (2...
88     $280.238 billion (2019 est.)$297.434 billion (...
91     -$3.114 billion (2019 est.)-$6.245 billion (20...
108    -$29.748 billion (2019 est.)-$65.939 billion (...
109    -$30.359 billion (2019 est.)-$30.633 billion (...
111    $4.344 billion (2017 est.)-$13.38 billion (201...
112    -$44.954 billion (2019 est.)$24.154 billion (2...
114    $20.642 billion (2020 est.)$13.411 billion (20...
115    $59.517 billion (2019 est.)$51.735 billion (20...
122    -$1.222 billion (2019 est.)-$2.964 billion (20...
144    $12.295 billion (2019 est.)$8.027 billion (201...
159    -$5.075 billion (2019 est.)-$6.758 billion (20...
160    -$3.025 billion (2019 est.)-$4.499 billion (20...
165    $90.207 billion (2019 est.)$98.981 billion (20...
170    $10.38 billion (2017 est.)$2.714 billion (2016...
177    -$7.143 billion (2019 est.)-$19.482 billion (2...
183    -$298 million (2017 est.)$416 million (2016 est.)
184    -$3.531 billion (2019 est.)-$3.821 billion (20...
185    -$3.386 billion (2019 est.)-$8.877 billion (20...
187    $2.92 billion (2019 est.)-$7.52 billion (2018 ...
188    -$203 million (2019 est.)$988 million (2018 est.)
191    -$11.389 billion (2019 est.)-$10.78 billion (2...
192    $65.311 billion (2019 est.)$115.68 billion (20...
215    -$10.626 billion (2019 est.)-$13.31 billion (2...
217    $29.603 billion (2019 est.)$27.206 billion (20...
219     -$10 million (2019 est.)-$17 million (2018 est.)
223    $22.339 billion (2019 est.)$13.902 billion (20...
224    $79.937 billion (2019 est.)$63.273 billion (20...
235    -$4.191 billion (2017 est.)-$3.694 billion (20...
236    $8.561 billion (2019 est.)-$20.745 billion (20...
240    -$1.212 billion (2017 est.)-$707 million (2016...
243    -$121.921 billion (2019 est.)-$104.927 billion...
244    -$480.225 billion (2019 est.)-$449.694 billion...
246    $1.713 billion (2017 est.)$384 million (2016 e...
Name: Economy: Current account balance, dtype: string

In [22]:
df["Economy: Exports - partners"]

10     Brazil 16%, China 11%, United States 7%, Chile...
15     Germany 28%, United States 7%, Italy 6%, Switz...
16     Italy 28%, Turkey 15%, Israel 7%, Germany 5%, ...
20     United States 15%, Germany 14%, United Kingdom...
23     Germany 17%, France 14%, Netherlands 13%, Unit...
25     Nigeria 25%, Bangladesh 14%, United Arab Emira...
32                   China 28%, United States 13% (2019)
36     Germany 16%, Romania 8%, Italy 7%, Turkey 7%, ...
42     China 17%, Netherlands 14%, Italy 9%, United A...
43                                         US 73% (2019)
52     United States 31%, China 11%, Panama 6%, Ecuad...
62     India 9%, Greece 9%, Libya 8%, United Kingdom ...
64     Germany 14%, United States 11%, Sweden 10%, Un...
70     United States 9%, United Arab Emirates 6%, Ita...
76     China 17%, United States 16%, United Arab Emir...
81     Germany 14%, United States 8%, Italy 7%, Spain...
88     United States 9%, France 8%, China 7%, Netherl...
91     Italy 10%, Germany 7%, Turkey 5%, Cyprus 5%, B...
108    United States 17%, United Arab Emirates 9%, Ch...
109    China 15%, United States 10%, Japan 9%, Singap...
111    China 26%, India 24%, South Korea 9%, United S...
112    United States 28%, Belgium 10%, Germany 10%, U...
114    United States 26%, China 9%, United Kingdom 7%...
115    Germany 12%, France 11%, United States 10%, Un...
122    United States 21%, Saudi Arabia 13%, India 8%,...
144    Singapore 13%, China 13%, United States 11%, H...
159                         Spain 23%, France 19% (2019)
160    South Africa 16%, India 13%, China 12%, Italy ...
165    Germany 20%, Belgium 12%, United Kingdom 9%, F...
170    India 16%, Spain 10%, United States 7%, France...
177    United States 14%, China 8%, Germany 7%, Unite...
183    Brazil 32%, Argentina 22%, Chile 8%, Russia 8%...
184    China 29%, United States 12%, Canada 5%, South...
185    China 16%, United States 15%, Japan 13%, Hong ...
187    Germany 27%, Czechia 6%, United Kingdom 6%, Fr...
188    Spain 23%, France 13%, Germany 12%, United Kin...
191             Germany 22%, Italy 10%, France 7% (2019)
192    China 14%, Netherlands 10%, Belarus 5%, German...
215    China 15%, United Kingdom 8%, Germany 7%, Unit...
217    France 15%, Germany 11%, Portugal 8%, Italy 8%...
219    United States 24%, India 8%, United Kingdom 7%...
223    Germany 10%, Norway 9%, United States 8%, Denm...
224    Germany 16%, United States 14%, United Kingdom...
235            France 29%, Italy 17%, Germany 13% (2019)
236    Germany 9%, United Kingdom 6%, Iraq 5%, Italy ...
240            United Arab Emirates 58%, Kenya 9% (2019)
243    United States 15%, Germany 10%, China 7%, Neth...
244    Canada 17%, Mexico 16%, China 7%, Japan 5% (2019)
246    Switzerland 19%, United Kingdom 17%, Russia 15...
Name: Economy: Exports - partners, dtype: string

In [23]:
print(df["Economy: Exports"])

10     $64.18 billion (2020 est.) note: data are in c...
15     $226.79 billion (2020 est.) note: data are in ...
16     $15.21 billion (2020 est.) note: data are in c...
20     $38.78 billion (2020 est.) note: data are in c...
23     $414.79 billion (2020 est.) note: data are in ...
25     $3.58 billion (2019 est.) note: data are in cu...
32     $239.18 billion (2020 est.) note: data are in ...
36     $39.27 billion (2020 est.) note: data are in c...
42     $7.73 billion (2019 est.) note: data are in cu...
43     $477.31 billion (2020 est.) note: data are in ...
52     $39.14 billion (2020 est.) note: data are in c...
62     $16.1 billion (2020 est.) note: data are in cu...
64     $191.53 billion (2020 est.) note: data are in ...
70     $40.1 billion (2020 est.) note: data are in cu...
76     $7.62 billion (2018 est.) note: data are in cu...
81     $746.91 billion (2020 est.) note: data are in ...
88     $1,671,650,000,000 (2020 est.) note: data are ...
91     $59.02 billion (2020 est.) note: data are in c...
108    $484.95 billion (2020 est.) note: data are in ...
109    $178.26 billion (2020 est.) note: data are in ...
111    $50.61 billion (2020 est.) note: data are in c...
112    $502.31 billion (2019 est.) note: data are in ...
114    $113.87 billion (2020 est.) note: data are in ...
115    $558.26 billion (2020 est.) note: data are in ...
122    $16.29 billion (2019 est.) note: data are in c...
144    $207.37 billion (2020 est.) note: data are in ...
159    $37.52 billion (2020 est.) note: data are in c...
160    $4.35 billion (2020 est.) note: data are in cu...
165    $719.78 billion (2020 est.) note: data are in ...
170    $39.94 billion (2020 est.) note: data are in c...
177    $27.3 billion (2020 est.) note: data are in cu...
183    $11.81 billion (2020 est.) note: data are in c...
184    $54.88 billion (2019 est.) note: data are in c...
185    $78.82 billion (2020 est.) note: data are in c...
187    $333.54 billion (2020 est.) note: data are in ...
188    $85.28 billion (2020 est.) note: data are in c...
191    $93.01 billion (2020 est.) note: data are in c...
192    $379.12 billion (2020 est.) note: data are in ...
215    $93.01 billion (2020 est.) note: data are in c...
217    $392.85 billion (2020 est.) note: data are in ...
219    $19.41 billion (2019 est.) note: data are in c...
223    $240.08 billion (2020 est.) note: data are in ...
224                         $470.91 billion (2020 est.)
235    $19.17 billion (2019 est.) note: data are in c...
236    $203.29 billion (2020 est.) note: data are in ...
240    $6.12 billion (2019 est.) note: data are in cu...
243    $741.95 billion (2020 est.) note: data are in ...
244    $2,127,250,000,000 (2020 est.) note: data are ...
246    $14.52 billion (2020 est.) note: data are in c...
Name: Economy: Exports, dtype: string

In [24]:
df.columns.tolist()

['Country',
 'Economy: Real GDP (purchasing power parity)',
 'Economy: Real GDP growth rate',
 'Economy: Real GDP per capita',
 'Economy: Current account balance',
 'Economy: Exports',
 'Economy: Exports - partners',
 'Economy: Reserves of foreign exchange and gold',
 'Energy: Electricity access - electrification - total population',
 "Economy: Credit ratings - Moody's rating",
 'Economy: Credit ratings - Standard & Poors rating',
 'Economy: Credit ratings - Fitch rating',
 'Economy: Unemployment rate',
 'Economy: Population below poverty line',
 'Economy: Household income or consumption by percentage share - highest 10%',
 'People and Society: Population',
 'People and Society: Nationality - noun',
 'People and Society: Nationality - adjective',
 'People and Society: Languages',
 'People and Society: Religions',
 'People and Society: Age structure - 0-14 years',
 'People and Society: Age structure - 15-24 years',
 'People and Society: Age structure - 25-54 years',
 'People and Society: Age structure - 55-64 years',
 'People and Society: Median age - total',
 'People and Society: Median age - male',
 'People and Society: Median age - female',
 'People and Society: Population growth rate',
 'People and Society: Birth rate',
 'People and Society: Death rate',
 'People and Society: Net migration rate',
 'People and Society: Urbanization - urban population',
 'People and Society: Sex ratio - at birth',
 'People and Society: Sex ratio - 65 years and over',
 'People and Society: Sex ratio - total population',
 'People and Society: Infant mortality rate - total',
 'People and Society: Life expectancy at birth - total population',
 'People and Society: Life expectancy at birth - male',
 'People and Society: Life expectancy at birth - female',
 'People and Society: Total fertility rate',
 'People and Society: Obesity - adult prevalence rate',
 'People and Society: Tobacco use - total',
 'Communications: Internet users - total',
 'Communications: Internet users - percent of population',
 'Military and Security: Military expenditures',
 'Military and Security: Military service age and obligation',
 'Terrorism: Terrorist group(s)',
 'Military and Security: Military - note']

In [25]:
df['Economy: Reserves of foreign exchange and gold']

10     $55.33 billion (31 December 2017 est.)$38.43 b...
15     $21.57 billion (31 December 2017 est.)$23.36 b...
16     $6.681 billion (31 December 2017 est.)$7.142 b...
20     $33.42 billion (31 December 2017 est.)$32.28 b...
23     $26.16 billion (31 December 2017 est.)$24.1 bi...
25     $698.9 million (31 December 2017 est.)$57.5 mi...
32     $374 billion (31 December 2017 est.)$367.5 bil...
36     $28.38 billion (31 December 2017 est.)$25.13 b...
42     $3.235 billion (31 December 2017 est.)$2.26 bi...
43     $86.68 billion (31 December 2017 est.)$82.72 b...
52     $47.13 billion (31 December 2017 est.)$46.18 b...
62     $888.2 million (31 December 2017 est.)$817.7 m...
64     $75.25 billion (31 December 2017 est.)$64.25 b...
70     $35.89 billion (31 December 2017 est.)$23.2 bi...
76     $3.013 billion (31 December 2017 est.)$3.022 b...
81     $156.4 billion (31 December 2017 est.)$138.2 b...
88     $200.1 billion (31 December 2017 est.)$173.7 b...
91     $7.807 billion (31 December 2017 est.)$6.026 b...
108    $409.8 billion (31 December 2017 est.)$359.7 b...
109               $130.2 billion (31 December 2017 est.)
111    $48.88 billion (31 December 2017 est.)$45.36 b...
112    $4.412 billion (31 December 2017 est.)$2.203 b...
114    $173.292 billion (2020 est.)$113 billion (31 D...
115    $151.2 billion (31 December 2017 est.)$130.6 b...
122    $15.56 billion (31 December 2017 est.)$15.54 b...
144    $102.4 billion (31 December 2017 est.)$94.5 bi...
159    $26.27 billion (31 December 2017 est.)$25.37 b...
160    $3.361 billion (31 December 2017 est.)$2.081 b...
165    $38.44 billion (31 December 2017 est.)$38.21 b...
170    $38.77 billion (31 December 2017 est.)$25.84 b...
177    $18.46 billion (31 December 2017 est.)$22.05 b...
183    $7.877 billion (31 December 2017 est.)$6.881 b...
184    $63.83 billion (31 December 2017 est.)$61.81 b...
185    $81.57 billion (31 December 2017 est.)$80.69 b...
187    $113.3 billion (31 December 2017 est.)$114.4 b...
188    $26.11 billion (31 December 2017 est.)$19.4 bi...
191    $44.43 billion (31 December 2017 est.)$40 bill...
192    $432.7 billion (31 December 2017 est.)$377.7 b...
215    $50.72 billion (31 December 2017 est.)$47.23 b...
217    $69.41 billion (31 December 2017 est.)$63.14 b...
219    $7.959 billion (31 December 2017 est.)$6.019 b...
223    $62.22 billion (31 December 2017 est.)$59.39 b...
224    $811.2 billion (31 December 2017 est.)$679.3 b...
235    $5.594 billion (31 December 2017 est.)$5.941 b...
236    $107.7 billion (31 December 2017 est.)$106.1 b...
240    $3.654 billion (31 December 2017 est.)$3.034 b...
243    $150.8 billion (31 December 2017 est.)$129.6 b...
244    $123.3 billion (31 December 2017 est.)$117.6 b...
246    $16 billion (31 December 2017 est.)$14 billion...
Name: Economy: Reserves of foreign exchange and gold, dtype: string

In [26]:
df['Energy: Electricity access - electrification - total population']

10      99% (2020)
15     100% (2020)
16     100% (2020)
20      83% (2019)
23     100% (2020)
25      33% (2019)
32     100% (2020)
36     100% (2020)
42      70% (2019)
43     100% (2020)
52      97% (2019)
62     100% (2020)
64     100% (2020)
70     100% (2020)
76      47% (2019)
81     100% (2020)
88     100% (2020)
91     100% (2020)
108     99% (2019)
109     99% (2019)
111    100% (2020)
112    100% (2020)
114    100% (2020)
115    100% (2020)
122    100% (2020)
144    100% (2020)
159    100% (2020)
160     35% (2019)
165    100% (2020)
170     62% (2019)
177     79% (2019)
183    100% (2020)
184     97% (2019)
185     96% (2019)
187    100% (2020)
188    100% (2020)
191    100% (2020)
192    100% (2020)
215     94% (2019)
217    100% (2020)
219    100% (2019)
223    100% (2020)
224    100% (2020)
235    100% (2020)
236    100% (2020)
240     29% (2019)
243    100% (2020)
244    100% (2020)
246    100% (2020)
Name: Energy: Electricity access - electrification - total population, dtype: string

In [27]:
df["Economy: Unemployment rate"]

10                  9.84% (2019 est.)9.18% (2018 est.)
15                   7.35% (2019 est.)7.7% (2018 est.)
16                        5% (2017 est.)5% (2016 est.)
20                    4.4% (2017 est.)4.4% (2016 est.)
23                  5.36% (2019 est.)5.96% (2018 est.)
25                                      1% (2014 est.)
32                11.93% (2019 est.)12.26% (2018 est.)
36                  5.66% (2019 est.)6.18% (2018 est.)
42                     4.3% (2014 est.)30% (2001 est.)
43                  5.67% (2019 est.)5.83% (2018 est.)
52                  10.5% (2019 est.)9.68% (2018 est.)
62                  7.07% (2019 est.)8.37% (2018 est.)
64                  3.05% (2019 est.)3.07% (2018 est.)
70                  7.86% (2019 est.)12.7% (2016 est.)
76                    17.5% (2012 est.)18% (2011 est.)
81                  8.12% (2019 est.)8.69% (2018 est.)
88                  4.98% (2019 est.)5.19% (2018 est.)
91                 17.3% (2019 est.)19.34% (2018 est.)
108                   8.5% (2017 est.)8.5% (2016 est.)
109                  5.31% (2018 est.)5.4% (2017 est.)
111                     16% (2012 est.)15% (2010 est.)
112                 4.98% (2019 est.)5.78% (2018 est.)
114    4.4% (2020 est.)3.81% (2019 est.)4% (2018 est.)
115                9.88% (2019 est.)10.63% (2018 est.)
122                19.1% (2019 est.)18.61% (2018 est.)
144                  3.3% (2019 est.)3.33% (2018 est.)
159                 9.23% (2019 est.)9.65% (2018 est.)
160                   24.5% (2017 est.)25% (2016 est.)
165                 3.41% (2019 est.)3.84% (2018 est.)
170                 16.5% (2017 est.)13.9% (2016 est.)
177                       6% (2017 est.)6% (2016 est.)
183                     5.7% (2017 est.)6% (2016 est.)
184                 6.58% (2019 est.)6.73% (2018 est.)
185                 5.11% (2019 est.)5.29% (2018 est.)
187                 5.43% (2019 est.)6.08% (2018 est.)
188                 6.55% (2019 est.)7.05% (2018 est.)
191                 3.06% (2019 est.)3.56% (2018 est.)
192                   4.6% (2019 est.)4.8% (2018 est.)
215               28.53% (2019 est.)27.09% (2018 est.)
217               14.13% (2019 est.)15.25% (2018 est.)
219                 4.83% (2019 est.)4.44% (2018 est.)
223                 6.78% (2019 est.)6.33% (2018 est.)
224                 2.31% (2019 est.)2.55% (2018 est.)
235                 15.5% (2017 est.)15.5% (2016 est.)
236                  13.68% (2019 est.)11% (2018 est.)
240                                   9.4% (2014 est.)
243                 3.17% (2019 est.)2.51% (2018 est.)
244                  3.89% (2018 est.)4.4% (2017 est.)
246                     5% (2017 est.)5.1% (2016 est.)
Name: Economy: Unemployment rate, dtype: string

In [28]:
df.columns.tolist()

['Country',
 'Economy: Real GDP (purchasing power parity)',
 'Economy: Real GDP growth rate',
 'Economy: Real GDP per capita',
 'Economy: Current account balance',
 'Economy: Exports',
 'Economy: Exports - partners',
 'Economy: Reserves of foreign exchange and gold',
 'Energy: Electricity access - electrification - total population',
 "Economy: Credit ratings - Moody's rating",
 'Economy: Credit ratings - Standard & Poors rating',
 'Economy: Credit ratings - Fitch rating',
 'Economy: Unemployment rate',
 'Economy: Population below poverty line',
 'Economy: Household income or consumption by percentage share - highest 10%',
 'People and Society: Population',
 'People and Society: Nationality - noun',
 'People and Society: Nationality - adjective',
 'People and Society: Languages',
 'People and Society: Religions',
 'People and Society: Age structure - 0-14 years',
 'People and Society: Age structure - 15-24 years',
 'People and Society: Age structure - 25-54 years',
 'People and Society: Age structure - 55-64 years',
 'People and Society: Median age - total',
 'People and Society: Median age - male',
 'People and Society: Median age - female',
 'People and Society: Population growth rate',
 'People and Society: Birth rate',
 'People and Society: Death rate',
 'People and Society: Net migration rate',
 'People and Society: Urbanization - urban population',
 'People and Society: Sex ratio - at birth',
 'People and Society: Sex ratio - 65 years and over',
 'People and Society: Sex ratio - total population',
 'People and Society: Infant mortality rate - total',
 'People and Society: Life expectancy at birth - total population',
 'People and Society: Life expectancy at birth - male',
 'People and Society: Life expectancy at birth - female',
 'People and Society: Total fertility rate',
 'People and Society: Obesity - adult prevalence rate',
 'People and Society: Tobacco use - total',
 'Communications: Internet users - total',
 'Communications: Internet users - percent of population',
 'Military and Security: Military expenditures',
 'Military and Security: Military service age and obligation',
 'Terrorism: Terrorist group(s)',
 'Military and Security: Military - note']

In [41]:
#df["Economy: Household income or consumption by percentage share - highest 10%"]

In [40]:
#df["People and Society: Population"]

In [37]:
#df["People and Society: Age structure - 0-14 years"]

In [38]:
#df["People and Society: Age structure - 15-24 years"]

In [39]:
#df['People and Society: Age structure - 25-54 years']

In [80]:
##start here

#df["People and Society: Median age - total"] # strip years

In [82]:
#df["People and Society: Median age - male"]

In [54]:
#df["People and Society: Median age - female"] #strip years and estimate date

In [86]:
#df["People and Society: Population growth rate"] #strip estimate date

In [88]:
#df["People and Society: Birth rate"] #strip /1,000 population (2022 est.)

In [90]:
#df["People and Society: Death rate"] #strip /1,000 population (2022 est.)

In [92]:
#df["People and Society: Net migration rate"]

In [94]:
#df["People and Society: Urbanization - urban population"] #strip of total population (2022)

In [96]:
#df["People and Society: Sex ratio - at birth"] #strip male(s)/female

In [101]:
#df["People and Society: Sex ratio - 65 years and over"] #strip male(s)/female

In [102]:
#df['People and Society: Sex ratio - total population'] #strip male(s)/female (2022 est.)

In [104]:
#df["People and Society: Life expectancy at birth - male"] #strip years

In [106]:
#df["People and Society: Life expectancy at birth - female"] # strip years (2022 est.)

In [108]:
#df["People and Society: Total fertility rate"] #strip children born/woman (2022 est.)

In [110]:
#df["People and Society: Obesity - adult prevalence rate"] #strip (2016)

In [112]:
#df["People and Society: Tobacco use - total"] #strip (2020 est.)

In [114]:
#df["Communications: Internet users - total"] # strip (2020 est.)

In [116]:
#df["Communications: Internet users - percent of population"] #strip (2020 est.)

In [76]:
df["Military and Security: Military expenditures"]

10     0.8% of GDP (2021 est.)0.8% of GDP (2020)0.7% ...
15     0.9% of GDP (2021 est.)0.7% of GDP (2020 est.)...
16     5.2% of GDP (2021 est.)5.4% of GDP (2020 est.)...
20     1.2% of GDP (2021 est.)1.3% of GDP (2020 est.)...
23     1.1% of GDP (2021 est.)1% of GDP (2020)0.9% of...
25     0.7% of GDP (2021 est.)0.5% of GDP (2020 est.)...
32     1.3% of GDP (2021 est.)1.4% of GDP (2020)1.4% ...
36     1.6% of GDP (2021 est.)1.6% of GDP (2020)3.1% ...
42     1% of GDP (2021 est.)1% of GDP (2020 est.)1.4%...
43     1.4% of GDP (2021 est.)1.4% of GDP (2020)1.3% ...
52     3% of GDP (2021 est.)3% of GDP (2020 est.)3.1%...
62     2% of GDP (2021 est.)1.8% of GDP (2020 est.)1....
64     1.4% of GDP (2021 est.)1.4% of GDP (2020)1.3% ...
70     1.3% of GDP (2021 est.)1.3% of GDP (2020)1.3% ...
76     0.5% of GDP (2021 est.)0.5% of GDP (2020 est.)...
81     1.9% of GDP (2021 est.)2% of GDP (2020)1.8% of...
88     1.5% of GDP (2021 est.)1.5% of GDP (2020)1.4% ...
91     3.6% of GDP (2021 est.)2.9% of GDP (2020)2.3% ...
108    2.2% of GDP (2021 est.)2.6% of GDP (2020 est.)...
109    0.8% of GDP (2021 est.)0.8% of GDP (2020)0.8% ...
111    3.7% of GDP (2021 est.)4.1% of GDP (2020 est.)...
112    0.3% of GDP (2021)0.3% of GDP (2020)0.3% of GD...
114    5% of GDP (2021 est.)5% of GDP (2020 est.)5.2%...
115    1.5% of GDP (2021 est.)1.6% of GDP (2020)1.2% ...
122    5% of GDP (2021 est.)5% of GDP (2020 est.)5.6%...
144    1% of GDP (2021 est.)1.1% of GDP (2020)1% of G...
159    4.5% of GDP (2021 est.)4.5% of GDP (2020 est.)...
160    1.2% of GDP (2021 est.)1.1% of GDP (2020 est.)...
165    1.5% of GDP (2021 est.)1.4% of GDP (2020)1.3% ...
170    0.7% of GDP (2021 est.)0.6% of GDP (2020 est.)...
177    4% of GDP (2022 est.)4% of GDP (2021 est.)4% o...
183    1% of GDP (2021 est.)1% of GDP (2020 est.)1% o...
184    1.1% of GDP (2021 est.)1.2% of GDP (2020 est.)...
185    1.1% of GDP (2021 est.)1.1% of GDP (2020)1.1% ...
187    2.3% of GDP (2021 est.)2.2% of GDP (2020)2% of...
188    1.6% of GDP (2021 est.)1.4% of GDP (2020)1.4% ...
191    2% of GDP (2021 est.)2% of GDP (2020)1.8% of G...
192    4% of GDP (2021 est.)4% of GDP (2020 est.)3.8%...
215    0.8% of GDP (2021 est.)1.1% of GDP (2020)1% of...
217    1% of GDP (2021 est.)1% of GDP (2020)0.9% of G...
219    1.9% of GDP (2021 est.)2% of GDP (2020 est.)2%...
223    1.3% of GDP (2021 est.)1.2% of GDP (2020)1.1% ...
224    0.7% of GDP (2021 est.)0.8% of GDP (2020)0.7% ...
235    3% of GDP (2021 est.)3% of GDP (2020 est.)3.8%...
236    1.6% of GDP (2021 est.)1.9% of GDP (2020)1.9% ...
240    2.5% of GDP (2021 est.)2.5% of GDP (2020 est.)...
243    2.5% of GDP (2021 est.)2.3% of GDP (2020)2.1% ...
244    3.6% of GDP (2021 est.)3.7% of GDP (2020)3.4% ...
246    2.8% of GDP (2019 est.) (approximately $3 bill...
Name: Military and Security: Military expenditures, dtype: string

In [77]:
df["Military and Security: Military service age and obligation"]

10     18-24 years of age for voluntary military serv...
15     registration requirement at age 17, the legal ...
16     men age 18-35 years for compulsory military se...
20     16-21 years of age for voluntary military serv...
23     18 years of age for male and female voluntary ...
25     18-35 years of age for selective compulsory an...
32     18-45 years of age for compulsory military ser...
36     18-27 years of age for voluntary military serv...
42     18-23 years of age for male and female volunta...
43     17 years of age for voluntary male and female ...
52     18-24 years of age for compulsory (men) and vo...
62     Cypriot National Guard (CNG): 18-50 years of a...
64     18 years of age for compulsory and voluntary m...
70     voluntary enlistment possible from age 16 (men...
76     18 years of age for voluntary military service...
81     18-25 years of age for male and female volunta...
88     17-23 years of age for male and female volunta...
91     19-45 years of age for compulsory military ser...
108    16-18 years of age for voluntary military serv...
109    18-45 years of age for voluntary military serv...
111    18-40 years of age for voluntary military serv...
112    18-25 years of age for male and female volunta...
114    18 years of age for compulsory military servic...
115    18-25 years of age for voluntary military serv...
122    17 years of age for voluntary male military se...
144    17 years 6 months of age for voluntary militar...
159    19-25 years of age for 12-month compulsory mil...
160    registration for military service is mandatory...
165    17 years of age for an all-volunteer force; co...
170    18-26 years of age for voluntary military serv...
177    16 (or 17 depending on service)-23 years of ag...
183    18 years of age for compulsory (men) and volun...
184    18-50 years of age for male and 18-45 years of...
185    18-23 years of age (officers 21-29; 21-26 for ...
187    18-28 years of age for male and female volunta...
188    18-30 years of age for voluntary or contract m...
191    conscription ended 2006; 18 years of age for m...
192    18-27 years of age for compulsory service (mal...
215    18-26 years of age for voluntary military serv...
217    18-26 years of age for voluntary military serv...
219    18-22 years of age for voluntary military serv...
223    18-47 years of age for male and female volunta...
224    18-30 years of age generally for male compulso...
235    men 20-23 years of age for compulsory service,...
236    President ErdoÄŸan on 25 June 2019 signed a new...
240    18-25 years of age for voluntary military duty...
243    slight variations by service, but generally 16...
244    18 years of age (17 years of age with parental...
246    18-27 years of age for compulsory military ser...
Name: Military and Security: Military service age and obligation, dtype: string

In [78]:
df["Terrorism: Terrorist group(s)"]

10                                             Hizballah
15             Islamic State of Iraq and ash-Sham (ISIS)
16     Islamic State of Iraq and ash-Sham (ISIS); Isl...
20     Harakat ul-Jihad-i-Islami/Bangladesh; Islamic ...
23     Islamic Revolutionary Guard Corps/Qods Force; ...
25     al-Qaâ€™ida (Jamaâ€™at Nusrat al Islam wal Muslime...
32                                      Hizballah (2022)
36     Islamic State of Iraq and ash-Sham (ISIS); Isl...
42     Boko Haram; Islamic State of Iraq and ash-Sham...
43     Islamic State of Iraq and ash-Sham (ISIS); Hiz...
52     National Liberation Army (ELN); Revolutionary ...
62             Islamic State of Iraq and ash-Sham (ISIS)
64     Islamic State of Iraq and ash-Sham (ISIS); Isl...
70     Army of Islam; Islamic State of Iraq and ash-S...
76                           al-Shabaab; IRGC/Qods Force
81     Islamic Revolutionary Guard Corps/Qods Force; ...
88     Islamic Revolutionary Guard Corps/Qods Force; ...
91     Islamic State of Iraq and ash-Sham (ISIS); Rev...
108                                              Harakat
109    Islamic State of Iraq and ash-Sham (aka Jemaah...
111    Ansar al-Islam; Asa'ib Ahl al-Haq; Islamic Rev...
112    Continuity Irish Republican Army; New Irish Re...
114    Islamic State of Iraq and ash-Sham (ISIS); Pop...
115            Islamic State of Iraq and ash-Sham (ISIS)
122            Islamic State of Iraq and ash-Sham (ISIS)
144    Islamic State of Iraq and ash-Sham (ISIS); Jem...
159            Islamic State of Iraq and ash-Sham (ISIS)
160    Islamic State of Iraq and ash-Sham - Mozambiqu...
165            Islamic State of Iraq and ash-Sham (ISIS)
170    Boko Haram; Islamic State of Iraq and ash-Sham...
177                                              Haqqani
183                                     Hizballah (2022)
184                      Shining Path (Sendero Luminoso)
185    Abu Sayyaf Group; Communist Party of the Phili...
187            Islamic State of Iraq and ash-Sham (ISIS)
188            Islamic State of Iraq and ash-Sham (ISIS)
191            Islamic State of Iraq and ash-Sham (ISIS)
192            Islamic State of Iraq and ash-Sham (ISIS)
215            Islamic State of Iraq and ash-Sham (ISIS)
217    Islamic State of Iraq and ash-Sham (ISIS); al-...
219    Islamic State of Iraq and ash-Sham (ISIS); Lib...
223            Islamic State of Iraq and ash-Sham (ISIS)
224            Islamic State of Iraq and ash-Sham (ISIS)
235    Ansar al-Sharia in Tunisia; Islamic State of I...
236    Islamic State of Iraq and ash-Sham (ISIS); Isl...
240    al-Shabaab; Islamic State of Iraq and ash-Sham...
243    Continuity Irish Republican Army; Islamic Stat...
244    Hizballah; Islamic Revolutionary Guard Corps/Q...
246    Islamic Jihad Union; Islamic Movement of Uzbek...
Name: Terrorism: Terrorist group(s), dtype: string