In [1]:
import pymongo
import csv
import json
from pymongo import MongoClient
import pandas as pd
import numpy as np
import datetime as dt
import matplotlib.pyplot as plt
%matplotlib inline
import matplotlib.pyplot as plt
import re

In [2]:
# set up display area to show dataframe 
pd.set_option('display.max_rows', 8000)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [3]:
#load csv
df = pd.read_csv("final_terror.csv")
df = df.drop("Unnamed: 0", axis = 1)
df.head(2)

         date  year    country region           subregion            coord     lat    long                                 perp category  injured  dead                                        description                             coordinates   latitude   longitude
0  2022-07-16  2022  Indonesia   Asia  South-Eastern Asia  -4.318,  138.18  -4.318  138.18  West Papua National Liberation Army  Assault        2    10  Around 20 gunmen attacked the village of Nogol...  -4.318185048526521, 138.18016262274278  -4.318185  138.180163
1  2022-05-05  2022     Israel   Asia        Western Asia    31.531, 34.86  31.531   34.86    As'ad Alrafa'ani and Sabhi Shajir  Assault        4     3  In Central Israel, two Palestinian men attacke...                   31.5313113,34.8667654  31.531311   34.866765

In [4]:
decade_df = df
df.head()

         date  year      country region           subregion            coord     lat    long                                 perp   category  injured  dead                                        description                             coordinates   latitude   longitude
0  2022-07-16  2022    Indonesia   Asia  South-Eastern Asia  -4.318,  138.18  -4.318  138.18  West Papua National Liberation Army    Assault        2    10  Around 20 gunmen attacked the village of Nogol...  -4.318185048526521, 138.18016262274278  -4.318185  138.180163
1  2022-05-05  2022       Israel   Asia        Western Asia    31.531, 34.86  31.531   34.86    As'ad Alrafa'ani and Sabhi Shajir    Assault        4     3  In Central Israel, two Palestinian men attacke...                   31.5313113,34.8667654  31.531311   34.866765
2  2022-04-27  2022        Syria   Asia        Western Asia    34.640, 39.04  34.640   39.04                        Islamic State    Assault        4     7  In Deir ez-Zor Governorate, Islamic State mili...                   34.6401861,39.0494106  34.640186   39.049411
3  2022-04-26  2022     Pakistan   Asia       Southern Asia    24.854, 67.02  24.854   67.02               Baloch Liberation Army  Explosion        4     4  A female suicide bomber struck a van near the ...                   24.8546842,67.0207055  24.854684   67.020706
4  2022-04-22  2022  Afghanistan   Asia       Southern Asia    36.870, 68.75  36.870   68.75    Islamic State - Khorasan Province  Explosion       43    33  A bombing attack at the Sufi Khanaqa-e-Malawi ...                   36.8707187,68.7563528  36.870719   68.756353

In [5]:
 # Establish the bins.
decade_bins = [0, 1969, 1979, 1989, 1999, 2009, 2019, 2029]
group_names = ["1960s", "1970s", "1980s", "1990s", "2000s", "2010s", "2020s"]

In [6]:
#Categorize dates based on the bins.
decade_df["year"] = decade_df['year']
decade_bins_dt = pd.to_datetime(decade_bins)
decade_df["decade"] = pd.cut(decade_df["year"], decade_bins_dt, labels=group_names)
decade_df.head()

         date  year      country region           subregion            coord     lat    long                                 perp   category  injured  dead                                        description                             coordinates   latitude   longitude decade
0  2022-07-16  2022    Indonesia   Asia  South-Eastern Asia  -4.318,  138.18  -4.318  138.18  West Papua National Liberation Army    Assault        2    10  Around 20 gunmen attacked the village of Nogol...  -4.318185048526521, 138.18016262274278  -4.318185  138.180163  2020s
1  2022-05-05  2022       Israel   Asia        Western Asia    31.531, 34.86  31.531   34.86    As'ad Alrafa'ani and Sabhi Shajir    Assault        4     3  In Central Israel, two Palestinian men attacke...                   31.5313113,34.8667654  31.531311   34.866765  2020s
2  2022-04-27  2022        Syria   Asia        Western Asia    34.640, 39.04  34.640   39.04                        Islamic State    Assault        4     7  In Deir ez-Zor Governorate, Islamic State mili...                   34.6401861,39.0494106  34.640186   39.049411  2020s
3  2022-04-26  2022     Pakistan   Asia       Southern Asia    24.854, 67.02  24.854   67.02               Baloch Liberation Army  Explosion        4     4  A female suicide bomber struck a van near the ...                   24.8546842,67.0207055  24.854684   67.020706  2020s
4  2022-04-22  2022  Afghanistan   Asia       Southern Asia    36.870, 68.75  36.870   68.75    Islamic State - Khorasan Province  Explosion       43    33  A bombing attack at the Sufi Khanaqa-e-Malawi ...                   36.8707187,68.7563528  36.870719   68.756353  2020s

In [7]:
decade_df["short_cat"] = decade_df["category"].astype("string")

In [8]:
decade_df[["cat 1", "cat 2", "cat 3"]] = decade_df["short_cat"].str.split(",", expand = True)

In [9]:
decade_df.head()
new = decade_df.drop(["lat", "long", "coordinates", "latitude", "longitude",  "short_cat", "category"], 1)
new.head()

/Users/laurenerminina/opt/anaconda3/envs/PythonData/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only

         date  year      country region           subregion            coord                                 perp  injured  dead                                        description decade      cat 1 cat 2 cat 3
0  2022-07-16  2022    Indonesia   Asia  South-Eastern Asia  -4.318,  138.18  West Papua National Liberation Army        2    10  Around 20 gunmen attacked the village of Nogol...  2020s    Assault  <NA>  <NA>
1  2022-05-05  2022       Israel   Asia        Western Asia    31.531, 34.86    As'ad Alrafa'ani and Sabhi Shajir        4     3  In Central Israel, two Palestinian men attacke...  2020s    Assault  <NA>  <NA>
2  2022-04-27  2022        Syria   Asia        Western Asia    34.640, 39.04                        Islamic State        4     7  In Deir ez-Zor Governorate, Islamic State mili...  2020s    Assault  <NA>  <NA>
3  2022-04-26  2022     Pakistan   Asia       Southern Asia    24.854, 67.02               Baloch Liberation Army        4     4  A female suicide bomber struck a van near the ...  2020s  Explosion  <NA>  <NA>
4  2022-04-22  2022  Afghanistan   Asia       Southern Asia    36.870, 68.75    Islamic State - Khorasan Province       43    33  A bombing attack at the Sufi Khanaqa-e-Malawi ...  2020s  Explosion  <NA>  <NA>

In [10]:
third_column = new.pop("decade")
fourth_column = new.pop("cat 1")


# #insert column
new.insert(2, "decade", third_column)
new.insert(3, "short_cat", fourth_column)

In [11]:
java_df = new.dropna()
java_df.info()

#filter from 1970 and up
java_df =java_df.loc[java_df["year"]>= 1970]
java_df.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 34 entries, 50 to 7556
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         34 non-null     object
 1   year         34 non-null     int64
 2   decade       34 non-null     category
 3   short_cat    34 non-null     string
 4   country      34 non-null     object
 5   region       34 non-null     object
 6   subregion    34 non-null     object
 7   coord        34 non-null     object
 8   perp         34 non-null     object
 9   injured      34 non-null     int64
 10  dead         34 non-null     int64
 11  description  34 non-null     object
 12  cat 2        34 non-null     string
 13  cat 3        34 non-null     string
dtypes: category(1), int64(3), object(7), string(3)
memory usage: 4.1+ KB

           date  year decade short_cat  country  region       subregion          coord            perp  injured  dead                                        description      cat 2    cat 3
50   2020-07-21  2020  2020s   Assault  Ukraine  Europe  Eastern Europe  50.745, 25.32  Maksym Kryvosh        0     0  A gunman kept 13 people hostage in a bus in th...  Explosion  Hostage
129  2019-01-15  2019  2010s   Assault    Kenya  Africa  Eastern Africa  -1.283, 36.81      Al Shabaab       28    21  At least 1 suicide bomber stormed the luxury c...  Explosion  Hostage
132  2018-12-11  2018  2010s   Assault   France  Europe  Western Europe  48.584, 7.750  Cherif Chekatt       12     5  Five people were killed and 12 others wounded ...  Explosion  Hostage
159  2018-07-25  2018  2010s   Assault    Syria    Asia    Western Asia  32.770, 36.87   Islamic State      180   255  Islamic state militants carried out suicide bo...  Explosion  Hostage
354  2016-06-01  2016  2010s   Assault  Somalia  Africa  Eastern Africa  2.0349, 45.34      Al Shabaab       55    16  A suicide bomber detonated a car bomb outside ...  Explosion  Hostage

In [12]:
# connect notebook to cloud
from config import cloudM, cloudMpassword

In [13]:
cloudstr  = f"mongodb+srv://{cloudM}:{cloudMpassword}@finalproject.1pamme7.mongodb.net/test"

In [14]:
cloudclient = MongoClient(cloudstr)
#upload to cloud

db = cloudclient['final_project']
colmanager = db["web_terror_df_raw"]
colmanager.insert_many(java_df.to_dict('records'))