In [1]:
# Import Dependencies
from pymongo import MongoClient
from config import cloudM, cloudMpassword
import pandas as pd
import numpy as np
import datetime as dt
import csv
import re

In [2]:
# set up display area to show dataframe 
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [3]:
#create a variable for columns to keep

columns = ["Country", 
            "People and Society: Population",
           "People and Society: Nationality - noun",
            "People and Society: Languages"]

In [4]:
#load data and create df to clean
data = pd.read_csv("countries.csv")
#previouly determined all fields were objects, load as string for cleaning
df = pd.DataFrame(data).astype("string")
df = df.loc[:, columns].copy()
#check result
df.head(5)

          Country                     People and Society: Population People and Society: Nationality - noun                      People and Society: Languages
0     Afghanistan                             38,346,720 (2022 est.)                              Afghan(s)  Afghan Persian or Dari (official, lingua franc...
1        Akrotiri  (2020) approximately 18,195 on the Sovereign B...                                   <NA>                                     English, Greek
2         Albania                              3,095,344 (2022 est.)                            Albanian(s)  Albanian 98.8% (official - derived from Tosk d...
3         Algeria                             44,178,884 (2022 est.)                            Algerian(s)  Arabic (official), French (lingua franca), Ber...
4  American Samoa                                 45,443 (2022 est.)      American Samoan(s) (US nationals)  Samoan 88.6% (closely related to Hawaiian and ...

In [5]:
#drop null values & determing number of rows 
df = df.dropna()
len(df)

229

In [6]:
#set index to country & check result
df.set_index('Country')
df.head(2)

       Country People and Society: Population People and Society: Nationality - noun                      People and Society: Languages
0  Afghanistan         38,346,720 (2022 est.)                              Afghan(s)  Afghan Persian or Dari (official, lingua franc...
2      Albania          3,095,344 (2022 est.)                            Albanian(s)  Albanian 98.8% (official - derived from Tosk d...

In [7]:
# create population as of 2022

df["Population (as of 2022)"] = df["People and Society: Population"].str[:-11]

#fix certain rows
df["Population (as of 2022)"] = df["Population (as of 2022)"].replace(["596 (July"], "596")

df["Population (as of 2022)"] = df["Population (as of 2022)"].replace(["8,914,885 (2022 est.) (includes populations of"], "8,914,885")

df["Population (as of 2022)"] = df["Population (as of 2022)"].replace(["67,791,400 (2022 est.) Uni"], "67,791,400")


#check results
#df["Population (as of 2022)"]

In [8]:
#slice for top lanugage column
df["Top Language"] = df["People and Society: Languages"].str[:20]

#remove from the end of the string
df["Top Language"] = df["Top Language"].str[:-13]

#remove the (
df["Top Language"] = df["Top Language"].str.replace("\(", "")

#fix results
df["Top Language"] = df["Top Language"].replace(["Engli"], "English")

df["Top Language"] = df["Top Language"].replace(["Portugu"], "Portuguese")

df["Top Language"] = df["Top Language"].replace(["Malay"], "Malaysian")

df["Top Language"] = df["Top Language"].replace(["Burme"], "Burmese")

df["Top Language"] = df["Top Language"].replace(["Bulgari"], "Bulgarian")

df["Top Language"] = df["Top Language"].replace(["24 majo"], "English(Official")

df["Top Language"] = df["Top Language"].replace(["Spani"], "Spanish")

df["Top Language"] = df["Top Language"].replace(["Spa"], "Spanish")

df["Top Language"] = df["Top Language"].replace(["Fren"], "French")




#check result
df["Top Language"]

/Users/laurenerminina/opt/anaconda3/envs/PythonData/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:8: FutureWarning: The default value of regex will change from True to False in a future version.

0               Afghan
2               Albania
3               Arabic
4               Samoan
5               Catalan
6            Portuguese
7               English
9               English
10              Spanish
11              Armenia
12              Papiame
14              English
15              German
16              Azerbai
17              English
18              Arabic
20              Bangla
21              English
22              Russian
23               Dutch
24              English
25              55 lang
26              English
27              Sharcho
28              Spanish
29              Bosnian
30              Setswan
32           Portuguese
34              English
35               Malay
36            Bulgarian
37              French
38              Burmese
39              Kirundi
40           Portuguese
41               Khmer
42     English(Official
43              English
44              English
45              French
46              French
47              Spanish
48              Standar
49              English
51               Malay
52              Spanish
53              Arabic
54              French
55              French
56              English
58              Spanish
59              Croatia
60              Spanish
61              Papiame
62               Greek
63               Czech
64              Danish,
66              French
67              English
68              Spanish
69              Spanish
70              Arabic
71              Spanish
72              Spanish
73              Tigriny
74              Estonia
75              English
76               Oromo
77              English
78              Faroese
79              English
80              Finnish
81              French
82              French
84              French
85              English
87              Georgia
88              German
89              Asante
90              English
91               Greek
92              Greenla
93              English
94              English
95              Spanish
96              English
97              French
98           Portuguese
99              English
100             French
102             Italian
103             Spanish
104             Cantone
106             Hungari
107             Iceland
108             Hindi 4
109             Bahasa
110             Persian
111             Arabic
112             English
113             English
114             Hebrew
115             Italian
116             English
118
120             English
122             Arabic
123             Kazakh
124             English
126             I-Kirib
127
128             Korean,
129             Albania
130             Arabic
131             Kyrgyz
132              Lao of
133             Latvian
134             Arabic
135             Sesotho
136             English
137             Arabic
138             German
139             Lithuan
140             Luxembo
141             Cantone
142             Malagas
143             English
144             Bahasa
145             Dhivehi
146             French
147             Maltese
148             Marshal
149             Arabic
150             Creole
151             Spanish
152             English
154             Moldova
155             French
156             Mongoli
157             Serbian
158
159             Arabic
160             Makhuwa
161             Oshiwam
162             Nauruan
164             Nepali
165              Dutch
166             French
167             English
168             Spanish
169             French
170             English
171             Niuean
172             English
173             Macedon
174             Philipp
175             Bokmal
176             Arabic
177             Punjabi
178             Palauan
180             Spanish
181             Tok Pis
183             Spanish
184             Spanish
185             unspeci
186             English
187             Polish
188          Portuguese
189             Spanish
190             Arabic
191             Romania
192             Russian
193             Kinyarw
195
196             English
197             English
199              French
200             English
201             Samoan
202
203          Portuguese
204                Arab
205             French
206             Serbian
207             Seychel
208             English
209             English
211             Slovak
212             Slovene
213             Melanes
214             Somali
215             isiZulu
216             English
217             Castili
219             Sinhala
220             Arabic
221              Dutch
223               Swedi
224             German
225             Arabic
226             Mandari
227              Tajik
228             Kiswahi
229              Thai o
230             Tetun P
231             French
232             Tokelau
233             Tongan
234             English
235             Arabic
236             Turkish
237             Turkmen
238             English
239             Tuvalua
240             English
241             Ukraini
242             Arabic
243
244             English
245             Spanish
246              Uzbek
247             local l
248             Spanish
249             Vietnam
250             English
252             Wallisi
255             Arabic
256             Bemba 3
257              Shona
Name: Top Language, dtype: object

In [9]:
df_l = df.drop(["People and Society: Population"], axis =1)

In [10]:
#reorder column
df_l = df_l[["Country", "Population (as of 2022)", "People and Society: Nationality - noun", "Top Language"]]

In [11]:
#check result
df_l.head()

          Country Population (as of 2022) People and Society: Nationality - noun Top Language
0     Afghanistan             38,346,720                               Afghan(s)      Afghan
2         Albania              3,095,344                             Albanian(s)      Albania
3         Algeria             44,178,884                             Algerian(s)      Arabic
4  American Samoa                 45,443       American Samoan(s) (US nationals)      Samoan
5         Andorra                 85,560                             Andorran(s)      Catalan

In [12]:
#convert to csv
df_l.to_csv("cia_langauges.csv")

In [13]:
#add to Mongo
# connect notebook to cloud
from config import cloudM, cloudMpassword
cloudstr  = f"mongodb+srv://{cloudM}:{cloudMpassword}@finalproject.1pamme7.mongodb.net/test"

In [14]:
cloudclient = MongoClient(cloudstr)
#upload to cloud
db = cloudclient['final_project']
colmanager = db["cia_languages"]
colmanager.insert_many(df_l.to_dict('records'))