In [2]:
# Machine-Learning-Model
# Import Dependencies
import pandas as pd
import hvplot.pandas
import plotly.express as px
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder, MinMaxScaler
from sklearn.decomposition import PCA
from sklearn.cluster import KMeans
import tensorflow as tf

import db_connections

#  Import and read the data from mongodb into dataframes
terrorism_df = pd.DataFrame(list(db_connections.terrorism.find()))

In [3]:
terrorism_df.head()

,_id,DATE,YEAR,COUNTRY,REGION,SUBREGION,INJURED,DEAD,CATEGORY,DESCRIPTION,LATITUDE,LONGITUDE
0,630053b3d24d700f0f23d36d,2022-07-16,2022,Indonesia,Asia,South-Eastern Asia,2,10,Assault,Around 20 gunmen attacked the village of Nogol...,-4.318185048526521,138.18016262274278
1,630053b3d24d700f0f23d375,2022-04-05,2022,Iran,Asia,Southern Asia,1,2,Assault,A stabbing attack at the Imam Reza shrine kill...,36.2974945,59.6059232
2,630053b3d24d700f0f23d373,2022-04-19,2022,Afghanistan,Asia,Southern Asia,25,6,Explosion,Three bombs targeted the Abdul Rahim Shahid Sc...,34.5260109,69.1776838
3,630053b3d24d700f0f23d396,2020-08-09,2020,Niger,Africa,Western Africa,0,8,"Assault,Hostage",Islamic State in the Greater Sahara militants ...,17.7356214,9.3238432
4,630053b3d24d700f0f23d39a,2020-06-20,2020,United Kingdom,Europe,Northern Europe,3,3,Assault,"Shortly before 19:00 BST, 25 year old Libyan b...",51.456659,-0.9696512

In [4]:
# Drop columns
terrorism_df.drop(['_id'], axis=1, inplace=True)
terrorism_df.head()

,DATE,YEAR,COUNTRY,REGION,SUBREGION,INJURED,DEAD,CATEGORY,DESCRIPTION,LATITUDE,LONGITUDE
0,2022-07-16,2022,Indonesia,Asia,South-Eastern Asia,2,10,Assault,Around 20 gunmen attacked the village of Nogol...,-4.318185048526521,138.18016262274278
1,2022-04-05,2022,Iran,Asia,Southern Asia,1,2,Assault,A stabbing attack at the Imam Reza shrine kill...,36.2974945,59.6059232
2,2022-04-19,2022,Afghanistan,Asia,Southern Asia,25,6,Explosion,Three bombs targeted the Abdul Rahim Shahid Sc...,34.5260109,69.1776838
3,2020-08-09,2020,Niger,Africa,Western Africa,0,8,"Assault,Hostage",Islamic State in the Greater Sahara militants ...,17.7356214,9.3238432
4,2020-06-20,2020,United Kingdom,Europe,Northern Europe,3,3,Assault,"Shortly before 19:00 BST, 25 year old Libyan b...",51.456659,-0.9696512

In [5]:
terrorism_df.shape
terrorism_df.isnull().sum()
tr_df = terrorism_df.copy()
tr_df.head()

,DATE,YEAR,COUNTRY,REGION,SUBREGION,INJURED,DEAD,CATEGORY,DESCRIPTION,LATITUDE,LONGITUDE
0,2022-07-16,2022,Indonesia,Asia,South-Eastern Asia,2,10,Assault,Around 20 gunmen attacked the village of Nogol...,-4.318185048526521,138.18016262274278
1,2022-04-05,2022,Iran,Asia,Southern Asia,1,2,Assault,A stabbing attack at the Imam Reza shrine kill...,36.2974945,59.6059232
2,2022-04-19,2022,Afghanistan,Asia,Southern Asia,25,6,Explosion,Three bombs targeted the Abdul Rahim Shahid Sc...,34.5260109,69.1776838
3,2020-08-09,2020,Niger,Africa,Western Africa,0,8,"Assault,Hostage",Islamic State in the Greater Sahara militants ...,17.7356214,9.3238432
4,2020-06-20,2020,United Kingdom,Europe,Northern Europe,3,3,Assault,"Shortly before 19:00 BST, 25 year old Libyan b...",51.456659,-0.9696512

In [9]:
print(tr_df.columns.tolist())

['DATE', 'YEAR', 'COUNTRY', 'REGION', 'SUBREGION', 'INJURED', 'DEAD', 'CATEGORY', 'DESCRIPTION', 'LATITUDE', 'LONGITUDE']

In [ ]:
# Drop n/a's


# Reformat any data in columns (type, split string, etc...)


# Drop the non-beneficial columns


# Check any values for binning


# Check the value plot density


# Generate our categorical variable lists


# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)


# Fit and transform the OneHotEncoder using the categorical variable list


# Split our preprocessed data into our features and target arrays


# Split the preprocessed data into a training and testing dataset


# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler


# Scale the data


# Instantiate the model


# Fit and train the model


# Predict the y_test


# Create a summary of the model. Possibly return value for Flask app.


# Return the graph figure. Possibly return value for Flask app.